footer.footer
    .container
        .footer__left
            .footer__line
                .footer__logo
                    a(href='#')
                        img(src='static/img/general/logo-mono.png' alt='Культурное наследие')
                .footer__elem
                    .footer__heading
                        span Контактная информация
                    .footer__text
                        span Архангельск, пр. Троицкий, 49 #[br] тел.:        (8182) 28-63-69, #[br] факс:    (8182) 28-63-69 #[br]
        .footer__right