header.header
    .header__wrap.container
        .header__menu
            .menu
                ul.menu__list
                    li.menu__item
                        a(href='#') Наследие
                        .menu__submenu.submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href='#')
                                        span Фольклор
                                li.submenu__item
                                    a(href='#')
                                        span Литература
                                li.submenu__item
                                    a(href='#')
                                        span Художественные промыслы и ремёсла
                                li.submenu__item
                                    a(href='#')
                                        span Изобразительное искусство
                                li.submenu__item
                                    a(href='#')
                                        span Музыка
                                li.submenu__item
                                    a(href='#')
                                        span Театр
                                li.submenu__item
                                    a(href='#')
                                        span Зодчество
                                li.submenu__item
                                    a(href='#')
                                        span Памятники истории и культуры, природно-культурные комплексы
                                li.submenu__item
                                    a(href='#')
                                        span Просвещение, образование, наука
                                li.submenu__item
                                    a(href='#')
                                        span Традиции и быт поморов
                    li.menu__item
                        a(href='#') Персоны
                        .menu__submenu.submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href='#')
                                        span Фольклор
                                li.submenu__item
                                    a(href='#')
                                        span Литература
                                li.submenu__item
                                    a(href='#')
                                        span Художественные промыслы и ремёсла
                                li.submenu__item
                                    a(href='#')
                                        span Изобразительное искусство
                                li.submenu__item
                                    a(href='#')
                                        span Музыка
                                li.submenu__item
                                    a(href='#')
                                        span Театр
                                li.submenu__item
                                    a(href='#')
                                        span Зодчество
                                li.submenu__item
                                    a(href='#')
                                        span Памятники истории и культуры, природно-культурные комплексы
                                li.submenu__item
                                    a(href='#')
                                        span Просвещение, образование, наука
                                li.submenu__item
                                    a(href='#')
                                        span Традиции и быт поморов
                    li.menu__item
                        a(href='#') Библиотека
        .header__logo
            a(href='#')
                img(src='static/img/general/logo.png' alt='Культурное наследие')
        .header__burger-search
            .header__burger
                a.burger(href='#')
                    span
            .header__search
                a(href='#')
                    img(src='static/img/general/search.png' alt='Поиск')

