header.header
    .container

        .header__menu
            .menu
                ul.menu__list
                    li.menu__item
                        a(href='#') Наследие
                    li.menu__item
                        a(href='#') Персоны
                    li.menu__item
                        a(href='#') Библиотека
        .header__logo
            a(href='#')
                img(src='static/img/general/logo.png' alt='Культурное наследие')
        .header__burger-search
            .header__burger
                a.burger(href='#')
                    span
            .header__search
                a(href='#')
                    img(src='static/img/general/search.png' alt='Поиск')

