.footer
  flex 0 0 auto
  background-color: $gray_dark

  font-family: 'PTSerif'
  color: $white
  font-size: 16px
  line-height: 24px

  a
    text-decoration: none

  &__wrap
    display: flex
    padding-top: 80px
    padding-bottom: 72px

    @media $tablet
      padding-top: 15px
      padding-bottom: 20px
      justify-content: space-between

    @media $tablet_small
      align-items: center
      flex-direction: column

  &__block

    &:first-child
      margin-right: 127px

      @media $desktop_small
        margin-right: 100px

      @media $tablet
        margin-right: 10px

      @media $phone
        margin-right: 0

    &:nth-child(2)
      margin-right: 72px

      @media $desktop_small
        margin-right: 35px

      @media $tablet
        margin-right: 10px

      @media $tablet_small
        display: none

    &:nth-child(3)

      @media $tablet_small
        display: none

  &__line
    display: flex

    @media $phone
      flex-direction: column
      align-items: center

      text-align: center

  &__logo
    margin-top: 4px
    margin-right: 45px

    @media $tablet
      max-width: 100px

    @media $phone
      margin: 0 0 20px

  &__heading
    margin-bottom: 6px

    font-weight: bold

  &__phone
    margin-right: 34px

    @media $tablet
      margin-right: 0

  &__fax
    margin-right: 23px

    @media $tablet
      margin-right: 0

  .socials
    margin-top: 32px

    @media $tablet
      margin-top: 15px

    &__list
      display: flex

      @media $phone
        justify-content: center

    &__item
      margin-right: 19px

      &:last-child
        margin-right: 0

  &__copyright
    margin-top: 49px

    color: $white
    font-size: 15px
    line-height: 30px
    letter-spacing: 0

    @media $phone
      margin-top: 20px

      text-align: center

  &__info
    margin-bottom: 47px

  .subscribe

    &__hint
      margin-top: 10px
      margin-bottom: 22px

      font-size: 14px
      line-height: normal

    &__form
      position: relative
      width: 245px
      
    &__input
      width: 100%
      padding: 8px 0
      background-color: transparent
      border: none
      border-bottom: 1px solid $gray_light

      font-family: 'PTSerif'
      font-size: 14px
      color: $white

      &::placeholder
        color: $gray_light


    &__button
      position: absolute
      right: 5px
      bottom: 8px
      z-index: 1
      cursor: pointer
      padding: 0
      border: 0
      background: 0 0
      -webkit-appearance: none
      width: 19px
      height: 17px
      background-repeat: no-repeat
      background-size: contain
      background-image: url('../img/general/arrow-right-white.png')
      

