.header

  &__menu
    width: 400px

  &__burger-search
    width: 400px
    display: flex
    align-items: center
    justify-content: flex-end

  &__burger
    margin-right: 47px


  .container
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 30px
    padding-bottom: 43px


  .menu

    &__list
      display: flex

    &__item
      margin-right: 38px

      font-size: 18px
      line-height: 18px
      color: $gray
      text-transform: uppercase

      &:last-child
        margin-right: 0



