.header

  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 30px
    padding-bottom: 43px

    @media $tablet
      padding-top: 15px
      padding-bottom: 20px

  &__logo

    @media $desktop_small
      order: 0
      margin-right: 45px

    @media $tablet
      margin-right: 30px

    img

      @media $tablet
        max-height: 75px

  &__menu
    width: 400px

    @media $desktop_small
      order: 1
      flex-grow: 1

    @media $tablet_small
      display: none

  &__burger-search
    width: 400px
    display: flex
    align-items: center
    justify-content: flex-end

    @media $desktop_small
      width: auto
      order: 3

  &__burger
    margin-right: 47px


  .menu

    &__list
      display: flex

    &__item
      position: relative
      margin-right: 34px
      padding: 25px 0

      font-size: 18px
      line-height: 18px
      letter-spacing: 1.8px
      color: $gray
      text-transform: uppercase

      &:last-child
        margin-right: 0

      &:hover

        & > .submenu
          display: block

          @media $tablet
            display: none


    a
      text-decoration: none

    &__submenu
      display: none
      z-index: 2
      position: absolute
      top: 64px
      width: 320px
      padding: 29px 20px
      border: 1px solid $brown_light
      box-shadow: 0 6px 10px 0 rgba(13, 105, 112, 0.28)
      background-color: $white

    .submenu

      &__item
        margin-bottom: 10px

        font-size: 16px
        line-height: 24px
        color: $gray
        letter-spacing: 0
        text-transform: none

        a
          display: flex
          align-items: flex-start

          &::before
            content: ''
            flex-grow: 0
            flex-shrink: 0
            width: 7px
            height: 11px
            margin-top: 6px
            margin-right: 17px
            background-image: url('../img/general/flag.png')
            background-repeat: no-repeat
            background-size: contain





