extends ../layout/main

block variables
    - var title = 'Фестивали праздники'
    - var pageClass = 'calendar-page'

block script
    script(src='static/js/select2.min.js')

block content
    .breadcrumbs
        .container.container_small
            .breadcrumbs__list
                span.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                span.breadcrumbs__item
                    span Фестивали праздники
    .container.container_small
        h1.like-h1 Фестивали праздники
    .calendar-page__months.months.container.container_small
        ul.months__list
            li.months__item
                a(href='#') Январь
            li.months__item
                a(href='#') Февраль
            li.months__item
                a(href='#') Март
            li.months__item
                a(href='#') Апрель
            li.months__item
                a(href='#') Май
            li.months__item
                a(href='#') Июнь
            li.months__item
                a(href='#') Июль
            li.months__item
                a(href='#') Август
            li.months__item
                a(href='#') Сентябрь
            li.months__item
                a(href='#') Октябрь
            li.months__item
                a(href='#') Ноябрь
            li.months__item
                a(href='#') Декабрь
    .calendar-page__place.container.container_small
        select.select
            option(value='Место проведения') Место проведения
            option(value='Красноборск') Красноборск
            option(value='Березник') Березник
    .calendar-page__list.container.container_small
        .calendar-page__item.festival
            .festival__photo
                a(href='#')
                    img(src='static/img/content/festival-1.jpg' alt='Фестиваль «Хрустальные звоны»')
            .festival__text
                .festival__name
                    a(href='#') Фестиваль «Хрустальные звоны»
                .festival__place-tag
                    .festival__place
                        a(href='#') Каргополь
                    .festival__tag
                        a(href='#') Фестиваль
                .festival__dates
                    span с 24 по 25 июня
                .festival__descr
                    p Фестиваль «Хрустальные звоны» ежегодно собирает виртуозов колокольного искусства из различных городов России. Насыщенная программа праздника посвящаяется истории колокольного дела и колокольному искусству. Это и концерты на передвижной звоннице, литературно-музыкальные композиции, выставки народного и детского творчества в учреждениях Каргополя. В рамках фестиваля проходят мастер-классы по росписи глиняных колокольчиков, экскурсии по старинному Каргополю с колокольными звонами, концерт-импровизация участников фестиваля и другие многочисленные мероприятия. Церемония открытия  фестиваль колокольного искусства «Хрустальные звоны» собирает участников на Соборной площади Каргополя
                .festival__more.js-calendar-showmore-btn
                    a(href='#')
        .calendar-page__item.festival
            .festival__photo
                a(href='#')
                    img(src='static/img/content/festival-2.jpg' alt='Арт-фестиваль Козьмы Пруткова')
            .festival__text
                .festival__name
                    a(href='#') Арт-фестиваль Козьмы Пруткова
                .festival__place-tag
                    .festival__place
                        a(href='#') Сольвычегодск
                    .festival__tag
                        a(href='#') Фестиваль
                .festival__dates
                    span 27 июля
                .festival__descr
                    p Декоративное искусство было той областью, где русский народ сумел создать совершенные по красоте произведения. Много внимания уделялось украшению жилища.




