extends ../layout/main

block variables
    - var title = 'Категория'
    - var pageClass = 'category-page'

block content
    .breadcrumbs
        .container.container_small
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                li.breadcrumbs__item
                    a(href='#') Наследие
                li.breadcrumbs__item
                    span Художественные промыслы и ремёсла
    h1.like-h1 Художественные промыслы и ремёсла
    .category-page__blocks.blocks.container.container_small
        .blocks__list
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-1.jpg")')
                .subcat__title
                    span Резьба и роспись по дереву
                .subcat__text
                    .subcat__list-link
                        a(href='#') Показать подразделы
                    ul.subcat__list
                        li.subcat__item
                            a(href='#') Народные росписи Русского Севера
                        li.subcat__item
                            a(href='#') Центры северной народной росписи
                        li.subcat__item
                            a(href='#') Символика северной росписи
                        li.subcat__item
                            a(href='#') Цветовая символика росписи
                        li.subcat__item
                            a(href='#') Домовая роспись
                        li.subcat__item
                            a(href='#') Резное мастерство
                        li.subcat__item
                            a(href='#') Северные прялки



