extends ../layout/main

block variables
    - var title = 'Категория'
    - var pageClass = 'category-page'

block content
    .breadcrumbs
        .container.container_small
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                li.breadcrumbs__item
                    a(href='#') Наследие
                li.breadcrumbs__item
                    span Художественные промыслы и ремёсла
    .container.container_small
        h1.like-h1 Художественные промыслы и ремёсла
    .category-page__blocks.blocks.container.container_small
        .blocks__list
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-1.jpg")')
                .subcat__title
                    span Резьба и роспись по дереву
                .subcat__text
                    .subcat__list-link.js-category-dd-link
                        a(href='#').subcat__link-show.js-category-dd-link-show Показать подразделы
                        a(href='#').subcat__link-hide.js-category-dd-link-hide Свернуть
                    .subcat__dropdown.js-category-dd
                        ul.subcat__list
                            li.subcat__item
                                a(href='#') Народные росписи Русского Севера
                            li.subcat__item
                                a(href='#') Центры северной народной росписи
                            li.subcat__item
                                a(href='#') Символика северной росписи
                            li.subcat__item
                                a(href='#') Цветовая символика росписи
                            li.subcat__item
                                a(href='#') Домовая роспись
                            li.subcat__item
                                a(href='#') Резное мастерство
                            li.subcat__item
                                a(href='#') Северные прялки
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-2.jpg")')
                .subcat__title
                    span Берестяной промысел
                .subcat__text
                    .subcat__list-link.js-category-dd-link
                        a(href='#').subcat__link-show.js-category-dd-link-show Показать подразделы
                        a(href='#').subcat__link-hide.js-category-dd-link-hide Свернуть
                    .subcat__dropdown.js-category-dd
                        ul.subcat__list
                            li.subcat__item
                                a(href='#') Народные росписи Русского Севера
                            li.subcat__item
                                a(href='#') Центры северной народной росписи
                            li.subcat__item
                                a(href='#') Символика северной росписи
                            li.subcat__item
                                a(href='#') Цветовая символика росписи
                            li.subcat__item
                                a(href='#') Домовая роспись
                            li.subcat__item
                                a(href='#') Резное мастерство
                            li.subcat__item
                                a(href='#') Северные прялки
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-3.jpg")')
                .subcat__title
                    span Холмогорская резьба по кости
                .subcat__text
                    .subcat__list-link.js-category-dd-link
                        a(href='#').subcat__link-show.js-category-dd-link-show Показать подразделы
                        a(href='#').subcat__link-hide.js-category-dd-link-hide Свернуть
                    .subcat__dropdown.js-category-dd
                        ul.subcat__list
                            li.subcat__item
                                a(href='#') Народные росписи Русского Севера
                            li.subcat__item
                                a(href='#') Центры северной народной росписи
                            li.subcat__item
                                a(href='#') Символика северной росписи
                            li.subcat__item
                                a(href='#') Цветовая символика росписи
                            li.subcat__item
                                a(href='#') Домовая роспись
                            li.subcat__item
                                a(href='#') Резное мастерство
                            li.subcat__item
                                a(href='#') Северные прялки
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-4.jpg")')
                .subcat__title
                    span Тканые и вязаные изделия
                .subcat__text
                    .subcat__list-link.js-category-dd-link
                        a(href='#').subcat__link-show.js-category-dd-link-show Показать подразделы
                        a(href='#').subcat__link-hide.js-category-dd-link-hide Свернуть
                    .subcat__dropdown.js-category-dd
                        ul.subcat__list
                            li.subcat__item
                                a(href='#') Народные росписи Русского Севера
                            li.subcat__item
                                a(href='#') Центры северной народной росписи
                            li.subcat__item
                                a(href='#') Символика северной росписи
                            li.subcat__item
                                a(href='#') Цветовая символика росписи
                            li.subcat__item
                                a(href='#') Домовая роспись
                            li.subcat__item
                                a(href='#') Резное мастерство
                            li.subcat__item
                                a(href='#') Северные прялки
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-5.jpg")')
                .subcat__title
                    span Северные козули
                .subcat__text
                    span Изготовление козуль было семейным занятием
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-6.jpg")')
                .subcat__title
                    span Народная игрушка
                .subcat__text
                    .subcat__list-link.js-category-dd-link
                        a(href='#').subcat__link-show.js-category-dd-link-show Показать подразделы
                        a(href='#').subcat__link-hide.js-category-dd-link-hide Свернуть
                    .subcat__dropdown.js-category-dd
                        ul.subcat__list
                            li.subcat__item
                                a(href='#') Народные росписи Русского Севера
                            li.subcat__item
                                a(href='#') Центры северной народной росписи
                            li.subcat__item
                                a(href='#') Символика северной росписи
                            li.subcat__item
                                a(href='#') Цветовая символика росписи
                            li.subcat__item
                                a(href='#') Домовая роспись
                            li.subcat__item
                                a(href='#') Резное мастерство
                            li.subcat__item
                                a(href='#') Северные прялки




