extends ../layout/main

block variables
    - var title = 'Категория'
    - var pageClass = 'category-page'

block content
    .breadcrumbs
        .container.container_small
            .breadcrumbs__list
                span.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                span.breadcrumbs__item
                    a(href='#') Наследие
                span.breadcrumbs__item
                    span Художественные промыслы и ремёсла
    .container.container_small
        h1.like-h1 Художественные промыслы и ремёсла
    .category-page__blocks.blocks.container.container_small
        .blocks__list
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-1.jpg")')
                .subcat__title
                    span Резьба и роспись по дереву
                .subcat__text
                    .subcat__list-link.js-category-dd-link
                        a(href='#').subcat__link-show.js-category-dd-link-show Показать подразделы
                        a(href='#').subcat__link-hide.js-category-dd-link-hide Свернуть
                    .subcat__dropdown.js-category-dd
                        ul.subcat__list
                            li.subcat__item
                                a(href='#') Народные росписи Русского Севера
                            li.subcat__item
                                a(href='#') Центры северной народной росписи
                            li.subcat__item
                                a(href='#') Символика северной росписи
                            li.subcat__item
                                a(href='#') Цветовая символика росписи
                            li.subcat__item
                                a(href='#') Домовая роспись
                            li.subcat__item
                                a(href='#') Резное мастерство
                            li.subcat__item
                                a(href='#') Северные прялки
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-2.jpg")')
                .subcat__title
                    span Берестяной промысел
                .subcat__text
                    .subcat__list-link.js-category-dd-link
                        a(href='#').subcat__link-show.js-category-dd-link-show Показать подразделы
                        a(href='#').subcat__link-hide.js-category-dd-link-hide Свернуть
                    .subcat__dropdown.js-category-dd
                        ul.subcat__list
                            li.subcat__item
                                a(href='#') Народные росписи Русского Севера
                            li.subcat__item
                                a(href='#') Центры северной народной росписи
                            li.subcat__item
                                a(href='#') Символика северной росписи
                            li.subcat__item
                                a(href='#') Цветовая символика росписи
                            li.subcat__item
                                a(href='#') Домовая роспись
                            li.subcat__item
                                a(href='#') Резное мастерство
                            li.subcat__item
                                a(href='#') Северные прялки
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-3.jpg")')
                .subcat__title
                    span Холмогорская резьба по кости
                .subcat__text
                    .subcat__list-link.js-category-dd-link
                        a(href='#').subcat__link-show.js-category-dd-link-show Показать подразделы
                        a(href='#').subcat__link-hide.js-category-dd-link-hide Свернуть
                    .subcat__dropdown.js-category-dd
                        ul.subcat__list
                            li.subcat__item
                                a(href='#') Народные росписи Русского Севера
                            li.subcat__item
                                a(href='#') Центры северной народной росписи
                            li.subcat__item
                                a(href='#') Символика северной росписи
                            li.subcat__item
                                a(href='#') Цветовая символика росписи
                            li.subcat__item
                                a(href='#') Домовая роспись
                            li.subcat__item
                                a(href='#') Резное мастерство
                            li.subcat__item
                                a(href='#') Северные прялки
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-4.jpg")')
                .subcat__title
                    span Тканые и вязаные изделия
                .subcat__text
                    .subcat__list-link.js-category-dd-link
                        a(href='#').subcat__link-show.js-category-dd-link-show Показать подразделы
                        a(href='#').subcat__link-hide.js-category-dd-link-hide Свернуть
                    .subcat__dropdown.js-category-dd
                        ul.subcat__list
                            li.subcat__item
                                a(href='#') Народные росписи Русского Севера
                            li.subcat__item
                                a(href='#') Центры северной народной росписи
                            li.subcat__item
                                a(href='#') Символика северной росписи
                            li.subcat__item
                                a(href='#') Цветовая символика росписи
                            li.subcat__item
                                a(href='#') Домовая роспись
                            li.subcat__item
                                a(href='#') Резное мастерство
                            li.subcat__item
                                a(href='#') Северные прялки
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-5.jpg")')
                .subcat__title
                    span Северные козули
                .subcat__text
                    span Изготовление козуль было семейным занятием
            .blocks__item.subcat
                .subcat__img-wrap
                    .subcat__img(style='background-image: url("static/img/content/subcat-6.jpg")')
                .subcat__title
                    span Народная игрушка
                .subcat__text
                    .subcat__list-link.js-category-dd-link
                        a(href='#').subcat__link-show.js-category-dd-link-show Показать подразделы
                        a(href='#').subcat__link-hide.js-category-dd-link-hide Свернуть
                    .subcat__dropdown.js-category-dd
                        ul.subcat__list
                            li.subcat__item
                                a(href='#') Народные росписи Русского Севера
                            li.subcat__item
                                a(href='#') Центры северной народной росписи
                            li.subcat__item
                                a(href='#') Символика северной росписи
                            li.subcat__item
                                a(href='#') Цветовая символика росписи
                            li.subcat__item
                                a(href='#') Домовая роспись
                            li.subcat__item
                                a(href='#') Резное мастерство
                            li.subcat__item
                                a(href='#') Северные прялки
    .category-page__text.container.container_small
        .content-sidebar
            .content-sidebar__main
                p Изобразительное искусство Архангельского Севера отличается богатством и своеобразием. В его самобытности отразился высокий уровень художественной культуры поморов, традиции, принесенные на Север из Новгорода, Ростова и Московских земель. Сложные художественные явления - зодчество, живопись, пластика - прошли длинный путь своего развития, обогащаясь воздействием искусства крупных культурных центров.
                p Изобразительное искусство на Архангельской земле стало развиваться еще в XV веке, до нас дошли прекрасные произведения Роспись купола Всехсвятской церкви северной иконописи. При крупных монастырях образовывались целые иконописные школы - Строгановская, Холмогорская, Соловецкая. Они оказали большое влияние на развитие иконописи не только на Севере, но и по всей Руси. Талантливые крестьянские мастера украшали резьбой и росписью предметы народного быта - берестяные туеса и лубяные короба, люльки и сундуки, дуги и грабли, вальки и прялки. Почти в каждом уезде были свои традиции, различия в орнаменте и цветовой гамме. Постепенно сформировались Каргопольская, Важская, Уфтюжская, Мезенская, Пинежская, Ракульская, Борецкая росписи.
                p Древнерусские живописцы, мировоззрение которых складывалось в рамках религиозного учения, изображали сюжеты-эпизоды из жизни Христа, Богоматери и святых. Религиозная тематика господствовала еще долгое время. Светское направление живопись получила лишь к онцу XIX - началу XX века. Северные художники - С. Г. Писахов, И. К. Вылка, А. А. Борисов - стали заниматься Шубин Ф.И. Портрет И. Г. Орловапейзажной и портретной живописью.
                p Развитие скульптуры происходило по двум направлениям, выделяли культовую и светскую скульптуру. Работами в области пластики прославились скульпторы Ф. И. Шубин, С. К. Суханов, В. А. Михалев. Сегодня изобразительное искусство активно развивается по всем направлениям. Ряды Архангельской региональной организации "Союза художников России" пополняются новыми талантливыми художниками.
            .content-sidebar__sidebar.sidebar
                .sidebar__block
                    .sidebar__heading
                        span Источники
                    .sidebar__content
                        .category__sources.sources
                            .sources__item
                                span.sources__bold Щуров, Г. С. Очерки истории #[br]культуры Русского Севера
                                span Г. С. Щуров. - Архангельск : Правда Севера, 2004. - 552 с. : ил.
                            .sources__item
                                span.sources__bold Художники Архангельска
                                span сост. А. И. Гудскова. - Л. : Художник РСФСР, 1966. - 24 с. : ил.
                .sidebar__block
                    .sidebar__heading
                        span Материалы
                    .sidebar__content
                        .category__files.files
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf-red.png' alt='Щуров, Г. С. Очерки истории культуры Русского Севера')
                                    .file__text
                                        .file__name
                                            span Щуров, Г. С. Очерки истории культуры Русского Севера
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf-red.png' alt='Культура Русского Севера: традиции и современность')
                                    .file__text
                                        .file__name
                                            span Культура Русского Севера: традиции и современность
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 11,5Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf-red.png' alt='Щуров, Г. С. Очерки истории культуры Русского Севера')
                                    .file__text
                                        .file__name
                                            span Щуров, Г. С. Очерки истории культуры Русского Севера
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf-red.png' alt='Щуров, Г. С. Очерки истории культуры Русского Севера')
                                    .file__text
                                        .file__name
                                            span Щуров, Г. С. Очерки истории культуры Русского Севера
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf-red.png' alt='Народное искусство. Исследования и материалы : сборник статей')
                                    .file__text
                                        .file__name
                                            span Народное искусство. Исследования и материалы : сборник статей
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf

    .container.container_small
        .banner-article(style='background-image: url("static/img/content/banner-article.jpg")')
            .banner-article__title
                span Иконопись
            .banner-article__content
                .banner-article__text
                    span Изобразительное искусство Архангельского Севера отличается богатством и своеобразием. В его самобытности отразился высокий уровень художественной культуры поморов, традиции, принесенные на Север
                .banner-article__btn
                    a(href='#').button.button_icon.button_serif-big Читай больше #[i.next-bold]





