extends ../layout/main

block variables
    - var title = 'Категория'
    - var pageClass = 'category-page'

block content
    .breadcrumbs
        .container.container_small
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                li.breadcrumbs__item
                    a(href='#') Наследие
                li.breadcrumbs__item
                    span Художественные промыслы и ремёсла
    h1.like-h1 Художественные промыслы и ремёсла



