extends ../layout/main

block variables
    - var title = 'Конкурсы'
    - var pageClass = 'contests-page'

block script
    script(src='static/js/select2.min.js')

block content
    .breadcrumbs
        .container.container_small
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                li.breadcrumbs__item
                    a(href='#') Конкурсы
    .contests-page__heading.container.container_small
        h1.like-h1 Конкурсы
        .contests-page__top-btn
            a(href='#').button Региональные
    .contests-page__list.container.container_small
        .contests-page__item.contest
            .contest__left
                .contest__title
                    a(href='#') «Хрустальные звоны»
                .contest__text
                    p Фестиваль «Хрустальные звоны» ежегодно собирает виртуозов колокольного искусства из различных городов России. Насыщенная программа праздника посвящаяется истории колокольного дела и колокольному искусству. #[br] Это и концерты на передвижной звоннице, литературно-музыкальные композиции, выставки народного и детского творчества в учреждениях Каргополя.
            .contest__right
                .contest__date
                    span 24 — 25 июня 2018
                .contest__files.files
                    .files__list
                        .files__item.file
                            .file__icon
                                img(src='static/img/general/pdf-red.png' alt='Положение конкурса')
                            .file__text
                                .file__name
                                    span Положение конкурса
                                .file__bottom
                                    .file__download
                                        a(href='#') Скачать
                                    .file__meta
                                        span &mdash; 24,4Mb, pdf
                        .files__item.file
                            .file__icon
                                img(src='static/img/general/pdf-red.png' alt='Условия проведения')
                            .file__text
                                .file__name
                                    span Условия проведения
                                .file__bottom
                                    .file__download
                                        a(href='#') Скачать
                                    .file__meta
                                        span &mdash; 11,5Mb, pdf
        .contests-page__item.contest
            .contest__left
                .contest__title
                    a(href='#') Конкурс творческих работ к 150-летию Максима Горького
                .contest__text
                    p Открытый Интернет-фестиваль молодых читателей России «Сочи — МОСТ — 2018» приглашает учащихся, студентов и молодежь с 11 до 18 лет принять участие в Конкурсе творческих работ к 150-летию Максима Горького. #[br] #[br] Цель конкурса – приобщение молодого поколения к литературе, театру, кино, как основе художественной культуры, нравственного и эстетического развития подрастающего поколения. #[br] Возрастные группы: #[br] #[br] младшая – с 11 до 15 лет #[br] старшая – 15 до 18 лет
            .contest__right
                .contest__date
                    span 24 — 25 июня 2018
                .contest__files.files
                    .files__list
                        .files__item.file
                            .file__icon
                                img(src='static/img/general/pdf-red.png' alt='Положение конкурса')
                            .file__text
                                .file__name
                                    span Положение конкурса
                                .file__bottom
                                    .file__download
                                        a(href='#') Скачать
                                    .file__meta
                                        span &mdash; 24,4Mb, pdf
                        .files__item.file
                            .file__icon
                                img(src='static/img/general/pdf-red.png' alt='Условия проведения')
                            .file__text
                                .file__name
                                    span Условия проведения
                                .file__bottom
                                    .file__download
                                        a(href='#') Скачать
                                    .file__meta
                                        span &mdash; 11,5Mb, pdf
        .contests-page__item.contest.contest_wide
            .contest__left
                .contest__title
                    a(href='#') Конкурс фотографий VIPA 2017
                .contest__text
                    p Национальный Фонд «Возрождение русской усадьбы» при поддержке Министерства культуры РФ приглашают деятелей науки, культуры, образования; краеведов, представителей общественных организаций; частных и юридических лиц – собственников объектов наследия; реставраторов, архитекторов, археологов, дизайнеров; меценатов, благотворителей, волонтеров; журналистов, писателей, художников, артистов, популяризирующих возрождение памятников наследия, принять участие в конкурсе на XIII Национальную Премию «Культурное наследие».
            .contest__right
                .contest__date
                    span 24 — 25 июня 2018

    .pagination
        ul.pagination__list
            li.pagination__item
                a(href='#') 1
            li.pagination__item
                a(href='#') 2
            li.pagination__item
                a(href='#') 3
            li.pagination__item
                a(href='#') 4
            li.pagination__item
                a(href='#') 5
            li.pagination__item
                a(href='#') 6
            li.pagination__item
                a(href='#') 7









