extends ../layout/main

block variables
    - var title = 'Международный фестиваль гармони «Сметанинские встречи»'
    - var pageClass = 'material-page'

block content
    .breadcrumbs
        .container.container_small
            .breadcrumbs__list
                span.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                span.breadcrumbs__item
                    a(href='#') Фестивали праздники
                span.breadcrumbs__item
                    span Международный фестиваль гармони «Сметанинские встречи»
    .container.container_small
        h1.like-h1 Международный фестиваль гармони «Сметанинские встречи»
    .material-page__text.container.container_small
        .content-sidebar
            .content-sidebar__main
                .event-image
                    .event-image__img
                        img(src='static/img/content/event-main-photo.jpg' alt='Международный фестиваль «Сметанинские встречи» 2016, выступление участников')
                    .event-image__hint
                        span.small_text Международный фестиваль «Сметанинские встречи» 2016, #[br] выступление участников
                p Фестиваль - цикл концертов, праздников, конкурсов, успешно проходящих на территории района, на который приглашаются гармонисты и творческие коллективы со всех территорий России, а также ближнего и дальнего зарубежья. В дни фестиваля в Красноборском районе проходят: конкурс грмонистов имени Сергея Сметанина «Звонкие планочки», конференции, семинары, круглые столы, мастер-классы по классу гармони, час памяти, музейная экспозиция Сергея Леонидовича Сметанина, гала-концерты гостей фестиваля, гастрольные туры, конкурсы стихов и песен о гармошке, на лучший сувенир-символ, выставка «С гармонью по эпохе». Завершается фестиваль традиционной Красноборской ярмаркой.
                p История фестиваля начиналась с вечеров памяти Сергея Сметанина, впервые организованных в 2006 году. Спустя пять лет «Сметанинские встречи» стали межрегиональным фестивалем, а в 2013 году получили международный статус.
                p За эти годы в фестивале приняли участие гармонисты и творческие коллективы из многих регионов России, а также ближнего и дальнего зарубежья.
                p В 2017 году фестиваль вновь собирает друзей и всех любителей гармони. В программе – конкурс гармонистов имени С.Л. Сметанина «Звонкие планочки», мастер-классы гармони, гастрольный тур «Гармошечный разгуляй», шоу необычных инструментов, конкурс деревянных скульптур «Музыка дерева» и Красноборская ярмарка.
                p Организаторы приглашают на фестиваль солистов-гармонистов, ансамбли гармонистов или народных инструментов, в составе которых есть гармонь, другие творческие коллективы как профессионального, так и любительского уровня.
                p Справки и заявки на участие в фестивале до 1 мая 2017 года по телефону: (81840) 3-21-76, отдел культуры и туризма администрации Красноборского района.

            .content-sidebar__sidebar.sidebar
                .sidebar__block
                    .sidebar__heading
                        span Место проведения
                    .sidebar__content
                        .material-page__event-place.event-place
                            .event-place__item
                                .event-place__icon
                                    img(src='static/img/general/place-icon.png' alt='Место проведения')
                                .event-place__text
                                    span Архангельская область #[br] Красноборский район #[br] село Красноборск
                            .event-place__item
                                .event-place__icon
                                    img(src='static/img/general/place-icon.png' alt='Место проведения')
                                .event-place__text
                                    span Отдел культуры и туризма МО «Красноборский муниципальный район» #[br] Тел. (81840) 3-12-76, #[br] e-mail: krasotd@atnet.ru
                .sidebar__block
                    .sidebar__heading
                        span Дата проведения
                    .sidebar__content
                        .material-page__event-date.event-date
                            .event-date__icon
                                img(src='static/img/general/calendar-icon.png' alt='Даты проведения')
                            .event-date__text
                                span с 23 по 25 июня
                .sidebar__block
                    .sidebar__heading
                        span Материалы
                    .sidebar__content
                        .category__files.files
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Положение о Международном фестивале гармонии «Сметанинские встречи»')
                                    .file__text
                                        .file__name
                                            span Положение о Международном фестивале гармонии «Сметанинские встречи»
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 7,2Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Заявка на участие в фестивале')
                                    .file__text
                                        .file__name
                                            span Заявка на участие в фестивале
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 11,5Mb, pdf
        a(href='#').button.button_icon.button_color.event-back #[i.prev] Назад к списку событий
