extends ../layout/main

block variables
    - var title = 'Главная страница'
    - var pageClass = 'index-page'

block script
    script(src='static/js/slick.min.js')

block content
    .index-page__slider-top.slider-top
        .slider-top__list.js-index-slider-top
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-1.jpg")')
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-2.jpg")')
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-3.jpg")')
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-1.jpg")')
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-2.jpg")')
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-3.jpg")')

    .index-page__sections.sections
        .sections__list.container.container_small
            a(href='#').sections__item
                .sections__image
                    img(src='static/img/content/index-section-1.png' alt='Факты')
                .sections__title
                    span Факты
                .sections__descr
                    span Шатровые храмы Русского&nbsp;Севера
            a(href='#').sections__item
                .sections__image
                    img(src='static/img/content/index-section-2.png' alt='События')
                .sections__title
                    span События
                .sections__descr
                    span 80 лет Архангельской области
            a(href='#').sections__item
                .sections__image
                    img(src='static/img/content/index-section-3.png' alt='Книга')
                .sections__title
                    span Книга
                .sections__descr
                    span А. Борисов «В&nbsp;гостях&nbsp;у&nbsp;самоедов»
    .index-page__slider-main.slider-main.container.container_small
        .slider-main__prev.js-index-slider-main-prev
        .slider-main__next.js-index-slider-main-next
        .slider-main__list.js-index-slider-main
            .slider-main__item
                .slider-main__left
                    .slider-main__image(style='background-image: url("static/img/content/index-slider-main-1.jpg")')
                .slider-main__right
                    .slider-main__title
                        a(href='#') Иконопись
                    .slider-main__descr
                        span Иконописное искусство на Севере стало развиваться с появлением там христианства, с началом строительства церквей и монастырей. На северной иконописи (школы архангельских, каргопольских, строгановских...
                    .slider-main__link
                        a(href='#') Наследие - Изобразительное искусство
            .slider-main__item
                .slider-main__left
                    .slider-main__image(style='background-image: url("static/img/content/index-slider-main-1.jpg")')
                .slider-main__right
                    .slider-main__title
                        a(href='#') Иконопись
                    .slider-main__descr
                        span Иконописное искусство на Севере стало развиваться с появлением там христианства, с началом строительства церквей и монастырей. На северной иконописи (школы архангельских, каргопольских, строгановских... и других "северных писем") очень рано, с XIV-XV вв., сказалось влияние Новгорода
                    .slider-main__link
                        a(href='#') Наследие - Изобразительное искусство
    .index-page__specproject.specproject.container.container_small
        .specproject__label
            span Спецпроект
        .specproject__icon
        .specproject__title
            span Хронология событий. История культуры Архангельсого края
    .index-page__timeline.timeline.container.container_small
        .timeline__list
            .timeline__item
                .event
                    .event__year
                        span 1690
                    .event__name
                        span Построен Троицкий собор на Ухт острове
                    .event__descr
                        span Троицкий собор на Ухт-острове являлся главным сооружением каменного ансамбля Троицкого прихода и был образцом каменного зодчества VII века
            .timeline__item
                .event
                    .event__year
                        span 1894
                    .event__name
                        span Издан сборник «Песни русского народа»
                    .event__descr
                        span Песни русского народа собранные в губерниях Архангельской и Олонецкой в 1886 году слова записал Ф.М. Истомин
            .timeline__item
                .event
                    .event__year
                        span 1934
                    .event__name
                        span Первое собрание северных художников
                    .event__descr
                        span В Архангельске состоялось первое собрание северных художников, в котором приняли участие представители Великого Устюга, Вологды, Коми области
    .index-page__viktorina.container.container_small.viktorina
        .viktorina__wrap
            .viktorina__img
                img(src='static/img/content/viktorina.jpg' alt='Викторина')
            .viktorina__text
                .viktorina__title
                    span Этап 1. Поморский быт
                .viktorina__descr
                    span Как был устроен поморский быт, какие семейные традиции сохранились до наших дней. #[br] Ответь на 5 вопрос о поморском быте, традициях....
                .viktorina__btn
                    a(href='#').button.button_icon.button_serif Перейти к вопросам викторины #[i.next-bold]
            .viktorina__label
                a(href='#') Викторины
    .index-page__specproject.specproject.container.container_small
        .specproject__label
            span Спецпроект
        .specproject__icon
        .specproject__title
            span История в картинках
    .index-page__story-in-pic.container.container_small.story-in-pic
        .story-in-pic__list
            a(href='#').story-in-pic__item
                .story-in-pic__img(style='background-image: url("static/img/content/story-in-pic-1.jpg")')
                .story-in-pic__title
                    span Кино снимается в Архангельске
                .story-in-pic__descr
                    span Praesent sollicitudin tortor nunc, non semper libero eleifend vitae. Fusce tempor efficitur nisl eget
            a(href='#').story-in-pic__item
                .story-in-pic__img(style='background-image: url("static/img/content/story-in-pic-2.jpg")')
                .story-in-pic__title
                    span Первый полярный художник
                .story-in-pic__descr
                    span Praesent sollicitudin tortor nunc, non semper libero eleifend vitae. Fusce tempor efficitur nisl eget dictum. Curabitur vehicula tincidunt ligula
            a(href='#').story-in-pic__item
                .story-in-pic__img(style='background-image: url("static/img/content/story-in-pic-3.jpg")')
                .story-in-pic__title
                    span История одного художника
                .story-in-pic__descr
                    span Praesent sollicitudin tortor nunc, non semper libero eleifend vitae. Fusce tempor efficitur nisl eget dictum. Curabitur vehicula tincidunt ligula
    .index-page__about.container.container_small.about
        .about__logo
            img(src='static/img/general/logo-ship.png' alt='Культурное наследие Архангельской области')
        .about__text
            .about__heading
                span О проекте
            .about__text
                .about__descr
                    p Портал создаётся как региональный сетевой информационный ресурс, посвященный памятникам материальной и духовной культуры Архангельского Севера.
                    p Главной целью проекта является популяризация знаний об истории и культуре Архангельского края и обеспечение эффективного ориентирования в этом богатейшем информационном пространстве.
                .about__btn
                    a(href='#').button.button_icon.button_serif-big Узнать подробнее #[i.next-bold]

    .index-page__fests.container.container_small.fests
        .fests__heading
            span Фестивали и праздники
        a(href='#').fests__closest.closest
            .closest__img
                img(src='static/img/content/fest-1.jpg' alt='Съезжий праздник сенокос')
            .closest__info
                .closest__location
                    span Приморский район
                .closest__date
                    span 25 - 27 июля
            .closest__name
                span Съезжий праздник сенокос
        .fests__slider
            .fests__list
                a(href='#').fests__item.fest
                    .fest__img
                        img(src='static/img/content/fest-2.jpg' alt='Устьважские гуляние')
                    .fest__text
                        .fest__location
                            span Шенкурский район
                        .fest__date
                            span с 24 по 25 июня
                        .fest__name
                            span Устьважские гуляние
                a(href='#').fests__item.fest
                    .fest__img
                        img(src='static/img/content/fest-3.jpg' alt='Арт-фестиваль Козьмы Пруткова')
                    .fest__text
                        .fest__location
                            span Сольвычегодск
                        .fest__date
                            span 27 июля
                        .fest__name
                            span Арт-фестиваль Козьмы Пруткова
                a(href='#').fests__item.fest
                    .fest__img
                        img(src='static/img/content/fest-4.jpg' alt='Сметанинские встречи')
                    .fest__text
                        .fest__location
                            span Красноборский район
                        .fest__date
                            span с 24 по 28 июня
                        .fest__name
                            span Сметанинские встречи
            .fests__list
                a(href='#').fests__item.fest
                    .fest__img
                        img(src='static/img/content/fest-2.jpg' alt='Устьважские гуляние')
                    .fest__text
                        .fest__location
                            span Шенкурский район
                        .fest__date
                            span с 24 по 25 июня
                        .fest__name
                            span Устьважские гуляние
                a(href='#').fests__item.fest
                    .fest__img
                        img(src='static/img/content/fest-3.jpg' alt='Арт-фестиваль Козьмы Пруткова')
                    .fest__text
                        .fest__location
                            span Сольвычегодск
                        .fest__date
                            span 27 июля
                        .fest__name
                            span Арт-фестиваль Козьмы Пруткова
                a(href='#').fests__item.fest
                    .fest__img
                        img(src='static/img/content/fest-4.jpg' alt='Сметанинские встречи')
                    .fest__text
                        .fest__location
                            span Красноборский район
                        .fest__date
                            span с 24 по 28 июня
                        .fest__name
                            span Сметанинские встречи
            .fests__list
                a(href='#').fests__item.fest
                    .fest__img
                        img(src='static/img/content/fest-2.jpg' alt='Устьважские гуляние')
                    .fest__text
                        .fest__location
                            span Шенкурский район
                        .fest__date
                            span с 24 по 25 июня
                        .fest__name
                            span Устьважские гуляние
                a(href='#').fests__item.fest
                    .fest__img
                        img(src='static/img/content/fest-3.jpg' alt='Арт-фестиваль Козьмы Пруткова')
                    .fest__text
                        .fest__location
                            span Сольвычегодск
                        .fest__date
                            span 27 июля
                        .fest__name
                            span Арт-фестиваль Козьмы Пруткова
                a(href='#').fests__item.fest
                    .fest__img
                        img(src='static/img/content/fest-4.jpg' alt='Сметанинские встречи')
                    .fest__text
                        .fest__location
                            span Красноборский район
                        .fest__date
                            span с 24 по 28 июня
                        .fest__name
                            span Сметанинские встречи




