extends ../layout/main

block variables
    - var title = 'Главная страница'
    - var pageClass = 'index-page'

block script
    script(src='static/js/slick.min.js')

block content
    .index-page__slider-top.slider-top
        .slider-top__list.js-index-slider-top
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-1.jpg")')
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-2.jpg")')
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-3.jpg")')
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-1.jpg")')
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-2.jpg")')
            .slider-top__item
                .slider-top__img(style='background-image: url("static/img/content/index-slide-3.jpg")')

    .index-page__sections.sections
        .sections__list.container.container_small
            a(href='#').sections__item
                .sections__image
                    img(src='static/img/content/index-section-1.png' alt='Факты')
                .sections__title
                    span Факты
                .sections__descr
                    span Шатровые храмы Русского&nbsp;Севера
            a(href='#').sections__item
                .sections__image
                    img(src='static/img/content/index-section-2.png' alt='События')
                .sections__title
                    span События
                .sections__descr
                    span 80 лет Архангельской области
            a(href='#').sections__item
                .sections__image
                    img(src='static/img/content/index-section-3.png' alt='Книга')
                .sections__title
                    span Книга
                .sections__descr
                    span А. Борисов «В&nbsp;гостях&nbsp;у&nbsp;самоедов»
    .index-page__slider-main.slider-main.container.container_small
        .slider-main__prev.js-index-slider-main-prev
        .slider-main__next.js-index-slider-main-next
        .slider-main__list.js-index-slider-main
            .slider-main__item
                .slider-main__left
                    .slider-main__image(style='background-image: url("static/img/content/index-slider-main-1.jpg")')

                .slider-main__right
                    .slider-main__title
                        a(href='#') Иконопись
                    .slider-main__descr
                        span Иконописное искусство на Севере стало развиваться с появлением там христианства, с началом строительства церквей и монастырей. На северной иконописи (школы архангельских, каргопольских, строгановских...
                    .slider-main__link
                        a(href='#') Наследие - Изобразительное искусство
            .slider-main__item
                .slider-main__left
                    .slider-main__image(style='background-image: url("static/img/content/index-slider-main-1.jpg")')

                .slider-main__right
                    .slider-main__title
                        a(href='#') Иконопись
                    .slider-main__descr
                        span Иконописное искусство на Севере стало развиваться с появлением там христианства, с началом строительства церквей и монастырей. На северной иконописи (школы архангельских, каргопольских, строгановских... и других "северных писем") очень рано, с XIV-XV вв., сказалось влияние Новгорода
                    .slider-main__link
                        a(href='#') Наследие - Изобразительное искусство