extends ../layout/main

block variables
    - var title = 'Персоны'
    - var pageClass = 'list-page'

block content
    .breadcrumbs
        .container.container_small
            .breadcrumbs__list
                span.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                span.breadcrumbs__item
                    a(href='#') Персоны
    .container.container_small
        h1.like-h1 Персоны
    .list-page__letters.container.container_small
        .pagination
            ul.pagination__list.js-pagination-noline
                li.pagination__item
                    a(href='#') А
                li.pagination__item
                    a(href='#') Б
                li.pagination__item
                    a(href='#') В
                li.pagination__item
                    a(href='#') Г
                li.pagination__item
                    a(href='#') Д
                li.pagination__item
                    a(href='#') Е
                li.pagination__item
                    a(href='#') Ж
                li.pagination__item
                    a(href='#') З
                li.pagination__item
                    a(href='#') И
                li.pagination__item
                    a(href='#') К
                li.pagination__item
                    a(href='#') Л
                li.pagination__item
                    a(href='#') М
                li.pagination__item
                    a(href='#') Н
                li.pagination__item
                    a(href='#') О
                li.pagination__item
                    a(href='#') П
                li.pagination__item
                    a(href='#') Р
                li.pagination__item
                    a(href='#') С
                li.pagination__item
                    a(href='#') Т
                li.pagination__item
                    a(href='#') У
                li.pagination__item
                    a(href='#') Ф
                li.pagination__item
                    a(href='#') Х
                li.pagination__item
                    a(href='#') Ц
                li.pagination__item
                    a(href='#') Ч
                li.pagination__item
                    a(href='#') Ш
                li.pagination__item
                    a(href='#') Щ
                li.pagination__item
                    a(href='#') Э
                li.pagination__item
                    a(href='#') Ю
                li.pagination__item
                    a(href='#') Я
    .list-page__groups.groups.container.container_small
        .groups__list
            .groups__item.group
                .group__name
                    span А
                ul.group__list
                    li.group__item
                        a(href='#') Альбер Камю
                    li.group__item
                        a(href='#') Анатоль Франс
                    li.group__item
                        a(href='#') Андре Жид
                    li.group__item
                        a(href='#') Анри Бергсон
            .groups__item.group
                .group__name
                    span Б
                ul.group__list
                    li.group__item
                        a(href='#') Бертран Рассел
                    li.group__item
                        a(href='#') Боб Дилан
                    li.group__item
                        a(href='#') Борис Леонидович Пастернак
                    li.group__item
                        a(href='#') Бьернстерне Мартиниус Бьернсон
            .groups__item.group
                .group__name
                    span В
                ul.group__list
                    li.group__item
                        a(href='#') Видиадхар Сураджпрасад Найпол
                    li.group__item
                        a(href='#') Висенте Алейксандре
                    li.group__item
                        a(href='#') Вислава Шимборска
                    li.group__item
                        a(href='#') Владислав Станислав Реймонт
                    li.group__item
                        a(href='#') Воле Шойинка
            .groups__item.group
                .group__name
                    span Г
                ul.group__list
                    li.group__item
                        a(href='#') Габриела Мистраль
                    li.group__item
                        a(href='#') Габриэль Гарсия Маркес
                    li.group__item
                        a(href='#') Гао Синцзянь
                    li.group__item
                        a(href='#') Гарольд Пинтер
                    li.group__item
                        a(href='#') Генрик Сенкевич
                    li.group__item
                        a(href='#') Генрих Белль
                    li.group__item
                        a(href='#') Георгос Сеферис
                    li.group__item
                        a(href='#') Герман Гессе
                    li.group__item
                        a(href='#') Герта Мюллер
                    li.group__item
                        a(href='#') Герхардт Гауптман
                    li.group__item
                        a(href='#') Грация Деледда
                    li.group__item
                        a(href='#') Гюнтер Грасс
            .groups__item.group
                .group__name
                    span Д
                ul.group__list
                    li.group__item
                        a(href='#') Дарио Фо
                    li.group__item
                        a(href='#') Дерек Уолкотт
                    li.group__item
                        a(href='#') Джозеф Редьярд Киплинг
                    li.group__item
                        a(href='#') Джозуэ Кардуччи
                    li.group__item
                        a(href='#') Джон Голсуорси
                    li.group__item
                        a(href='#') Джон Максвелл Кутзее
                    li.group__item
                        a(href='#') Джон Стейнбек
                    li.group__item
                        a(href='#') Джордж Бернард Шоу
                    li.group__item
                        a(href='#') Дорис Лессинг
            .groups__item.group
                .group__name
                    span Ж
                ul.group__list
                    li.group__item
                        a(href='#') Жан-Мари Гюстав Леклезио
                    li.group__item
                        a(href='#') Жан-Поль Сартр
                    li.group__item
                        a(href='#') Жозе Сарамаго
            .groups__item.group
                .group__name
                    span И
                ul.group__list
                    li.group__item
                        a(href='#') Иван Алексеевич Бунин
                    li.group__item
                        a(href='#') Иво Андрич
                    li.group__item
                        a(href='#') Имре Кертес
                    li.group__item
                        a(href='#') Иосиф Бродский
                    li.group__item
                        a(href='#') Исаак Башевис Зингер
                    li.group__item
                        a(href='#') Йоханнес Йенсен
            .groups__item.group
                .group__name
                    span К
                ul.group__list
                    li.group__item
                        a(href='#') Камило Хосе Села
                    li.group__item
                        a(href='#') Карл Адольф Гьеллеруп
                    li.group__item
                        a(href='#') Карл Густав Вернер фон Хейденстам
                    li.group__item
                        a(href='#') Карл Фридрих Георг Шпиттелер
                    li.group__item
                        a(href='#') Клод Симон
                    li.group__item
                        a(href='#') Кнут Гамсун
                    li.group__item
                        a(href='#') Кэнзабуро Оэ
            .groups__item.group
                .group__name
                    span Л
                ul.group__list
                    li.group__item
                        a(href='#') Луиджи Пиранделло
            .groups__item.group
                .group__name
                    span М
                ul.group__list
                    li.group__item
                        a(href='#') Марио Варгас Льоса
                    li.group__item
                        a(href='#') Мигель Астуриас
                    li.group__item
                        a(href='#') Михаил Александрович Шолохов
                    li.group__item
                        a(href='#') Мо Янь
                    li.group__item
                        a(href='#') Морис Метерлинк
            .groups__item.group
                .group__name
                    span Н
                ul.group__list
                    li.group__item
                        a(href='#') Нагиб Махфуз
                    li.group__item
                        a(href='#') Надин Гордимер
                    li.group__item
                        a(href='#') Нелли Закс
            .groups__item.group
                .group__name
                    span О
                ul.group__list
                    li.group__item
                        a(href='#') Одисеас Элитис
                    li.group__item
                        a(href='#') Октавио Пас
                    li.group__item
                        a(href='#') Орхан Памук
            .groups__item.group
                .group__name
                    span П
                ul.group__list
                    li.group__item
                        a(href='#') Пабло Неруда
                    li.group__item
                        a(href='#') Патрик Виктор Мартиндейл Уайт
                    li.group__item
                        a(href='#') Патрик Модиано
                    li.group__item
                        a(href='#') Пауль Йоханн Людвиг фон Хейзе
                    li.group__item
                        a(href='#') Пер Фабиан Лагерквист
                    li.group__item
                        a(href='#') Перл Бак
