extends ../layout/main

block variables
    - var title = 'Персоны'
    - var pageClass = 'list-page'

block content
    .breadcrumbs
        .container.container_small
            .breadcrumbs__list
                span.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                span.breadcrumbs__item
                    a(href='#') Персоны
    .container.container_small
        h1.like-h1 Персоны
    .list-page__letters.container.container_small
        .pagination
            ul.pagination__list.js-pagination-noline
                li.pagination__item
                    a(href='#') А
                li.pagination__item
                    a(href='#') Б
                li.pagination__item
                    a(href='#') В
                li.pagination__item
                    a(href='#') Г
                li.pagination__item
                    a(href='#') Д
                li.pagination__item
                    a(href='#') Е
                li.pagination__item
                    a(href='#') Ж
                li.pagination__item
                    a(href='#') З
                li.pagination__item
                    a(href='#') И
                li.pagination__item
                    a(href='#') К
                li.pagination__item
                    a(href='#') Л
                li.pagination__item
                    a(href='#') М
                li.pagination__item
                    a(href='#') Н
                li.pagination__item
                    a(href='#') О
                li.pagination__item
                    a(href='#') П
                li.pagination__item
                    a(href='#') Р
                li.pagination__item
                    a(href='#') С
                li.pagination__item
                    a(href='#') Т
                li.pagination__item
                    a(href='#') У
                li.pagination__item
                    a(href='#') Ф
                li.pagination__item
                    a(href='#') Х
                li.pagination__item
                    a(href='#') Ц
                li.pagination__item
                    a(href='#') Ч
                li.pagination__item
                    a(href='#') Ш
                li.pagination__item
                    a(href='#') Щ
                li.pagination__item
                    a(href='#') Э
                li.pagination__item
                    a(href='#') Ю
                li.pagination__item
                    a(href='#') Я
    .list-page__groups.groups.container.container_small
        .groups__list.groups__list_text
            .groups__item.group
                .group__name
                    span А
                ul.group__list
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Альбер Камю
                            .list-block__sub
                                span 7 ноября, 1913 — 4 января, 1960
                            .list-block__text
                                span Французский эссеист, писатель и драматург Альбер Камю родился в Мондови, в Алжире, в семье сельскохозяйственного рабочего Люсьена Камю, эльзасца по происхождению, который погиб на Марне во время первой мировой войны, когда Альберу было меньше года.
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Анри Бергсон
                            .list-block__sub
                                span 18 октября, 1859 — 4 января, 1941
                            .list-block__text
                                span Французский философ Анри Бергсон родился в Париже, в семье евреев-космополитов. Его отец, Мишель Бергсон, великолепный музыкант, которого, по семейному преданию, учил сам Шопен, покинул Варшаву, где он родился, затем путешествовал по Европе и в конце концов осел в Англии.
            .groups__item.group
                .group__name
                    span Б
                ul.group__list
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Бертран Рассел
                            .list-block__sub
                                span 18 мая, 1872— 2 февраля, 1970
                            .list-block__text
                                span Английский философ, математик, логик и общественный деятель Бертран Артур Уильям Рассел родился в Рейвенскрофте, в графстве Монмаутшир (ныне графство Гвэнт, Уэльс). Он был младшим из трех детей в семье Джона Рассела, виконта Эмберли, и Кэтрин (Стэнли) Рассел.
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Борис Пастернак
                            .list-block__sub
                                span 10 февраля, 1890 — 30 мая, 1960
                            .list-block__text
                                span Русский поэт и прозаик Борис Леонидович Пастернак родился в известной в Москве еврейской семье. Отец поэта, Леонид Пастернак, был академиком живописи, преподавателем Училища живописи, ваяния и зодчества, специализировался на портретной живописи, писал портреты многих известных людей, в т.ч. и Толстого.
            .groups__item.group
                .group__name
                    span В
                ul.group__list
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Висенте Алейксандре
                            .list-block__sub
                                span 26 апреля, 1898— 14 декабря, 1984
                            .list-block__text
                                span Испанский поэт Висенте Алейксандре-и-Мерло родился в Севилье в семье Сирило Алейксандре Баллестера, инженера-строителя Андалусской железной дороги, и Эльвиры Мерло Гарсия де Прунеда, дочери местного военного суперинтенданта.
            .groups__item.group
                .group__name
                    span Г
                ul.group__list
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Генрик Сенкевич
                            .list-block__sub
                                span 7 мая, 1846 — 5 ноября, 1916
                            .list-block__text
                                span Польский романист Генрик Адам Александр Пий Сенкевич родился в польском городке Окжейска, ныне находящемся на территории Литвы, в литовско-польской семье, получившей дворянство в 1775 г. Его отец, Йозеф Сенкевич, участвовавший в польском восстании 1831 г.
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Герман Гессе
                            .list-block__sub
                                span 2 июля, 1877 — 9 августа, 1962
                            .list-block__text
                                span Немецкий романист, поэт, критик и публицист Герман Гессе родился в семье миссионеров-пиетистов и издателей богословской литературы в г. Кальв, в Вюртемберге.
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Герхардт Гауптман
                            .list-block__sub
                                span 15 ноября, 1862 — 6 июня, 1946
                            .list-block__text
                                span Немецкий драматург и романист Герхарт Иоханн Роберт Гауптман родился в Оберзальцбрунне (ныне Щавно-Здруй, Польша), известном курорте в Силезии.
            .groups__item.group
                .group__name
                    span И
                ul.group__list
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Иосиф Бродский
                            .list-block__sub
                                span 24 мая, 1940 — 28 января, 1996
                            .list-block__text
                                span Эстетические взгляды Бродского формировались в Ленинграде сороковых и пятидесятых. Неоклассическая архитектура, сильно пострадавшая во время бомбёжек, бесконечные перспективы петербургских окраин, вода, множественность отражений, — мотивы, связанные с этими детскими и юношескими впечатлениями, неизменно присутствуют в его творчестве.
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Исаак Башевис Зингер
                            .list-block__sub
                                span 14 июля, 1904 — 24 июля, 1991
                            .list-block__text
                                span Американский прозаик польского происхождения Исаак Башевис Зингер (настоящее имя Ицек-Герц Зингер), писавший на идиш, родился в маленькой деревушке Леоцин под Варшавой.

            .groups__item.group
                .group__name
                    span И
                ul.group__list
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Иосиф Бродский
                            .list-block__sub
                                span 24 мая, 1940 — 28 января, 1996
                            .list-block__text
                                span Эстетические взгляды Бродского формировались в Ленинграде сороковых и пятидесятых. Неоклассическая архитектура, сильно пострадавшая во время бомбёжек, бесконечные перспективы петербургских окраин, вода, множественность отражений, — мотивы, связанные с этими детскими и юношескими впечатлениями, неизменно присутствуют в его творчестве.
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Исаак Башевис Зингер
                            .list-block__sub
                                span 14 июля, 1904 — 24 июля, 1991
                            .list-block__text
                                span Американский прозаик польского происхождения Исаак Башевис Зингер (настоящее имя Ицек-Герц Зингер), писавший на идиш, родился в маленькой деревушке Леоцин под Варшавой.

            .groups__item.group
                .group__name
                    span И
                ul.group__list
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Иосиф Бродский
                            .list-block__sub
                                span 24 мая, 1940 — 28 января, 1996
                            .list-block__text
                                span Эстетические взгляды Бродского формировались в Ленинграде сороковых и пятидесятых. Неоклассическая архитектура, сильно пострадавшая во время бомбёжек, бесконечные перспективы петербургских окраин, вода, множественность отражений, — мотивы, связанные с этими детскими и юношескими впечатлениями, неизменно присутствуют в его творчестве.
                    li.group__item
                        .list-block
                            .list-block__title
                                a(href='#') Исаак Башевис Зингер
                            .list-block__sub
                                span 14 июля, 1904 — 24 июля, 1991
                            .list-block__text
                                span Американский прозаик польского происхождения Исаак Башевис Зингер (настоящее имя Ицек-Герц Зингер), писавший на идиш, родился в маленькой деревушке Леоцин под Варшавой.
