extends ../layout/main

block variables
    - var title = 'Персоны'
    - var pageClass = 'list-page'

block content
    .breadcrumbs
        .container.container_small
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                li.breadcrumbs__item
                    a(href='#') Персоны
    .container.container_small
        h1.like-h1 Персоны
    .list-page__letters.container.container_small
        .pagination
            ul.pagination__list.js-pagination-noline
                li.pagination__item
                    a(href='#') А
                li.pagination__item
                    a(href='#') Б
                li.pagination__item
                    a(href='#') В
                li.pagination__item
                    a(href='#') Г
                li.pagination__item
                    a(href='#') Д
                li.pagination__item
                    a(href='#') Е
                li.pagination__item
                    a(href='#') Ж
                li.pagination__item
                    a(href='#') З
                li.pagination__item
                    a(href='#') И
                li.pagination__item
                    a(href='#') К
                li.pagination__item
                    a(href='#') Л
                li.pagination__item
                    a(href='#') М
                li.pagination__item
                    a(href='#') Н
                li.pagination__item
                    a(href='#') О
                li.pagination__item
                    a(href='#') П
                li.pagination__item
                    a(href='#') Р
                li.pagination__item
                    a(href='#') С
                li.pagination__item
                    a(href='#') Т
                li.pagination__item
                    a(href='#') У
                li.pagination__item
                    a(href='#') Ф
                li.pagination__item
                    a(href='#') Х
                li.pagination__item
                    a(href='#') Ц
                li.pagination__item
                    a(href='#') Ч
                li.pagination__item
                    a(href='#') Ш
                li.pagination__item
                    a(href='#') Щ
                li.pagination__item
                    a(href='#') Э
                li.pagination__item
                    a(href='#') Ю
                li.pagination__item
                    a(href='#') Я







