extends ../layout/main

block variables
    - var title = 'Резьба и роспись по дереву'
    - var pageClass = 'material-page'

block content
    .breadcrumbs
        .container.container_small
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                li.breadcrumbs__item
                    a(href='#') Художественные промыслы и ремёсла
                li.breadcrumbs__item
                    span Резьба и роспись по дереву
    .container.container_small
        h1.like-h1 Резьба и роспись по дереву
    .material-page__text.container.container_small
        .content-sidebar
            .content-sidebar__main
                p Художественной обработке дерева принадлежит исключительное место в истории русского крестьянского творчества. В северном лесном краю всегда активно развивалось искусство резьбы и росписи по дереву. Любовь к узорочью ярко отразилась в фольклоре нашего края. Как пример можно привести отдельные отрывки из былин и песен архангельского Севера и Заонежья. Вот один из них, описывающий украшение корабля:
                .quote
                    .quote__icon
                        img(src='static/img/general/quote-icon.png' alt='Цитата')
                    .quote__text
                        span Маленький кораблицок! #[br] Да как нос-корма по-звериному,  #[br] Да бока сведены по-лошадиному, #[br] Да как вместо глаз было врезано #[br] Да по дорогу, по самоцветному по камешку.
            .content-sidebar__sidebar.sidebar
                .sidebar__block
                    .sidebar__heading
                        span Источники
                    .sidebar__content
                        .category__sources.sources
                            .sources__item
                                span.sources__bold Щуров, Г. С. Очерки истории #[br]культуры Русского Севера
                                span Г. С. Щуров. - Архангельск : Правда Севера, 2004. - 552 с. : ил.
                            .sources__item
                                span.sources__bold Художники Архангельска
                                span сост. А. И. Гудскова. - Л. : Художник РСФСР, 1966. - 24 с. : ил.
                .sidebar__block
                    .sidebar__heading
                        span Материалы
                    .sidebar__content
                        .category__files.files
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf-red.png' alt='Щуров, Г. С. Очерки истории культуры Русского Севера')
                                    .file__text
                                        .file__name
                                            span Щуров, Г. С. Очерки истории культуры Русского Севера
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf-red.png' alt='Культура Русского Севера: традиции и современность')
                                    .file__text
                                        .file__name
                                            span Культура Русского Севера: традиции и современность
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 11,5Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf-red.png' alt='Щуров, Г. С. Очерки истории культуры Русского Севера')
                                    .file__text
                                        .file__name
                                            span Щуров, Г. С. Очерки истории культуры Русского Севера
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf-red.png' alt='Щуров, Г. С. Очерки истории культуры Русского Севера')
                                    .file__text
                                        .file__name
                                            span Щуров, Г. С. Очерки истории культуры Русского Севера
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf-red.png' alt='Народное искусство. Исследования и материалы : сборник статей')
                                    .file__text
                                        .file__name
                                            span Народное искусство. Исследования и материалы : сборник статей
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf







