extends ../layout/main

block variables
    - var title = 'Резьба и роспись по дереву'
    - var pageClass = 'material-page'

block content
    .breadcrumbs
        .container.container_small
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                li.breadcrumbs__item
                    a(href='#') Художественные промыслы и ремёсла
                li.breadcrumbs__item
                    span Резьба и роспись по дереву
    .container.container_small
        h1.like-h1 Резьба и роспись по дереву
    .material-page__text.container.container_small
        .content-sidebar
            .content-sidebar__main
                p Художественной обработке дерева принадлежит исключительное место в истории русского крестьянского творчества. В северном лесном краю всегда активно развивалось искусство резьбы и росписи по дереву. Любовь к узорочью ярко отразилась в фольклоре нашего края. Как пример можно привести отдельные отрывки из былин и песен архангельского Севера и Заонежья. Вот один из них, описывающий украшение корабля:
                .quote
                    .quote__icon
                        img(src='static/img/general/quote-icon.png' alt='Цитата')
                    .quote__text
                        span Маленький кораблицок! #[br] Да как нос-корма по-звериному,  #[br] Да бока сведены по-лошадиному, #[br] Да как вместо глаз было врезано #[br] Да по дорогу, по самоцветному по камешку.
                p Декоративное искусство было той областью, где русский народ сумел создать совершенные по красоте произведения. Много внимания уделялось украшению жилища.
                p Резные доски - подзоры, причелины, обрешетины, оконные наличники и убранства крылец - украшали русскую избу. Не меньшее внимание уделял народный художник украшению посуды, домашней и хозяйственной утвари, орудий труда. Замкнутый в кругу практически полезных вещей, он в то же время их художественно преображал. Каждая вещь, не теряя своих бытовых свойств, превращалась в произведение искусства. Для наиболее старых вещей, дошедших до нас от конца XVII и первой половины XVIII века, характерны выразительность и монументальность форм, сила орнамента. Вещи делались "на век", материала не жалели. В любом крестьянском предмете в глаза бросается его прочность, но в то же время и всегда выступает красота материала, обработанного топором и ножом, нередко без пилы.
                .image-text
                    .image-text__img
                        img(src='static/img/content/material-img.jpg' alt='О Тебе радуется')
                    .image-text__text
                        span.small_text О Тебе радуется.
                        span.small_text Конец XVI - начало XVII в. Холмогоры.
                        span.small_text Из церкви Богоявления на Ухтострове (1850-1856 гг.) Холмогорского района Архангельской области
                p Из пород дерева мастера использовали березу, сосну, ель, лиственницу, тополь, наросты на стволах деревьев - "кап". Обрабатывали как собственно древесину, так и луб, кору молодой березы - бересту. Для росписи применяли природные краски, олифу в качестве лака.
                p Крестьянское искусство, разносторонне выразившее себя в орнаментации, обладало сильным чувством ритма, которое выражалось в любви к повторению узоров, в желании подчеркнуть равновесие форм, симметричность в построении, как частей предметов, так и орнаментов. Орнамент всегда подчинялся размерам и изгибам поверхности вещей. Он укрывал ее равномерно, спокойно, подобно куску ткани. В раскраске преобладали звучные локальные цвета, среди которых любимым был тон пылающей киновари, алый, как заря, дополненный зеленым, желтым, сдержанно-коричневым и редко синим; этот цвет почти не встречается на старых крестьянских вещах Архангельского Севера.
                p Основой крестьянского искусства было ремесло. Коробейка мезенская, мастер Фатьянов И.С. В работах деревенских художников видны сноровка, уменье, большая выдумка. В далеком прошлом, еще в допетровской Руси, возникли многочисленные промыслы по деревням и селам, в которых жили мастера-прялочники, бурачники, красильщики… На Русском Севере сохранялось наибольшее количество первоначальных деревенских промыслов. Условия Севера способствовали их развитию. Малое количество пахотной земли, сильная заболоченность, обилие леса вели к организации домашних ремесел: резьбе по кости, выделке прялок, набоечно-красильному, не говоря уже о чисто хозяйственных промыслах. С другой стороны, этому способствовала торговля, развивавшаяся по берегам Северной Двины, по которой проходили торговые пути из Москвы и крупных городов средней части Руси к Белому морю. Это отражалось на всем строе местной художественной культуры, проникнутой многочисленными влияниями, насыщенной сложными формами. Зато в районах Пинеги и Мезени, более оторванных от остального мира, больше было замкнутости и неподвижности. Ковш Именно здесь еще в конце прошлого XIX века сохранялись самые архаические формы крестьянского искусства, соответствовавшие архаическому жизненному укладу (сошное земледелие, курные черные избы, освещаемые лучиной; одежда, изготовленная из домотканого полотна). Здесь же производились мезенские прялки с самым архаическими орнаментом из всех известных.
                p По реке Тотьме, около Великого Устюга и почти во всех районах, прилегающих к Северной Двине, делали посуду. При этом всюду существовал свой тип изделий.
                p Декоративная изобразительная пластика изделий народного искусства из дерева вбирает в себя широкий диапазон решений от символов и знаков до мотивов и сюжетов. Первоэлементом резного или расписного декора являются символ, мотив, сцена. Так в росписи наряду с растительными узорами размещались сказочные звери и птицы, изображения людей, сценки из жизни.
                p Немаловажное значение имела роспись фасадов и интерьеров крестьянских построек. Самые ранние росписи жилых домов на территории Архангельской области датируются 1840-ми годами; хотя сам факт расписных строений упоминается в исторических источниках уже в XVII столетии. Росписью украшали фронтоны фасадов, подшивку свесов кровли и нижней части балконов, ставни и наличники.
                p В интерьере, как правило, украшали перегородки, стенки, ограждающие печь - "опечье", подвижную мебель, шкафы, реже - двери и стены. Крестьянские мастера расписывали предметы обихода: прялки и короба, дуги, сани, различную мебель, даже кладбищенские кресты. Порой они сами изготавливали утварь и орудия труда, а затем и расписывали их, достигая тем самым стилистического единства в оформлении северного крестьянского дома различных районов области. Зачастую те же мастера украшали росписями фасады и интерьеры деревянных храмов: тябла иконостасов, "неба".
                a(href='#').button.button_icon.button_color Продолжение статьи #[i.next]
            .content-sidebar__sidebar.sidebar
                .sidebar__block
                    .sidebar__content
                        .material-page__mini.mini
                            .mini__list
                                .mini__item(style='background-image: url("static/img/content/material-mini-1.jpg")')
                                .mini__item(style='background-image: url("static/img/content/material-mini-2.jpg")')
                                .mini__item(style='background-image: url("static/img/content/material-mini-3.jpg")')
                                .mini__item(style='background-image: url("static/img/content/material-mini-4.jpg")')
                                .mini__item(style='background-image: url("static/img/content/material-mini-5.jpg")')
                                .mini__item(style='background-image: url("static/img/content/material-mini-6.jpg")')
                                .mini__item(style='background-image: url("static/img/content/material-mini-7.jpg")')

                .sidebar__block.sidebar__block_mini
                    .sidebar__heading
                        span Источники
                    .sidebar__content
                        .category__sources.sources
                            .sources__item
                                span.sources__bold Щуров, Г. С. Очерки истории #[br]культуры Русского Севера
                                span Г. С. Щуров. - Архангельск : Правда Севера, 2004. - 552 с. : ил.
                            .sources__item
                                span.sources__bold Художники Архангельска
                                span сост. А. И. Гудскова. - Л. : Художник РСФСР, 1966. - 24 с. : ил.
                .sidebar__block
                    .sidebar__heading
                        span Материалы
                    .sidebar__content
                        .category__files.files
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Щуров, Г. С. Очерки истории культуры Русского Севера')
                                    .file__text
                                        .file__name
                                            span Щуров, Г. С. Очерки истории культуры Русского Севера
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Культура Русского Севера: традиции и современность')
                                    .file__text
                                        .file__name
                                            span Культура Русского Севера: традиции и современность
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 11,5Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Щуров, Г. С. Очерки истории культуры Русского Севера')
                                    .file__text
                                        .file__name
                                            span Щуров, Г. С. Очерки истории культуры Русского Севера
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Щуров, Г. С. Очерки истории культуры Русского Севера')
                                    .file__text
                                        .file__name
                                            span Щуров, Г. С. Очерки истории культуры Русского Севера
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Народное искусство. Исследования и материалы : сборник статей')
                                    .file__text
                                        .file__name
                                            span Народное искусство. Исследования и материалы : сборник статей
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                .sidebar__block
                    .sidebar__heading
                        span Читай больше
                    .sidebar__content
                        .category__files.files
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Щуров, Г. С. Очерки истории культуры Русского Севера')
                                    .file__text
                                        .file__name
                                            span Арбат. Ю. А. Зелёные кони
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 704 KB, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/read-more-1.png' alt='Ермакова У. Истоки мезенской росписи и ее связь с другими видами северной росписи')
                                    .file__text
                                        a(href='#').file__name
                                            span Ермакова У. Истоки мезенской росписи и ее связь с другими видами северной росписи
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Народное искусство. Исследования и материалы: сборник статей')
                                    .file__text
                                        .file__name
                                            span Народное искусство. Исследования и материалы: сборник статей
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 11,9 MB, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/read-more-2.png' alt='Резное мастерство: виртуальная выставка')
                                    .file__text
                                        .file__name
                                            span Резное мастерство: #[br] #[a(href='#') виртуальная выставка]
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/read-more-2.png' alt='Северная береста. История берестяных ремесел информационный Интернет-проект')
                                    .file__text
                                        .file__name
                                            span Северная береста. История берестяных ремесел #[a(href='#') информационный Интернет-проект]
    .material-page__story-in-pic.container.container_small.story-in-pic
        h1.like-h1 Другие статьи раздела

        .story-in-pic__list
            a(href='#').story-in-pic__item
                .story-in-pic__img(style='background-image: url("static/img/content/story-in-pic-1.jpg")')
                .story-in-pic__title
                    span Народная #[br] роспись
                .story-in-pic__descr
                    span Традиции народной росписи уходят корнями в глубокую древность
            a(href='#').story-in-pic__item
                .story-in-pic__img(style='background-image: url("static/img/content/story-in-pic-2.jpg")')
                .story-in-pic__title
                    span Художники #[br] Севера
                .story-in-pic__descr
                    span На Архангельском Севере исстари творили талантливые живописцы
            a(href='#').story-in-pic__item
                .story-in-pic__img(style='background-image: url("static/img/content/story-in-pic-3.jpg")')
                .story-in-pic__title
                    span Скульптура #[br] Севера
                .story-in-pic__descr
                    span История северной скульптуры мало исследована







