extends ../layout/main

block variables
    - var title = 'Узелки на память'
    - var pageClass = 'stories-archive-page'

block script
    script(src='static/js/select2.min.js')


block content
    .breadcrumbs
        .container.container_small
            .breadcrumbs__list
                span.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                span.breadcrumbs__item
                    span Узелки на память
    .stories-archive-page__heading.container
        h1.like-h1 Узелки на память
        .stories-archive-page__selects
            select.select
                option(value='Все рубрики') Все рубрики
                option(value='Сельская жизнь') Сельская жизнь
            select.select
                option(value='За все время') За все время
                option(value='За год') За год


    .stories-archive-page__list.container.container_small
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-1.jpg' alt='Путешествие на Русский Север')
            .archive__text
                .archive__name
                    span Путешествие на Русский Север
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-2.jpg' alt='Памятники древнерусской живописи')
            .archive__text
                .archive__name
                    span Памятники древнерусской живописи
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-3.jpg' alt='Декоративно-прикладное искусство')
            .archive__text
                .archive__name
                    span Декоративно-прикладное искусство
                .archive__date
                    span 13 сент 2018


        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-1.jpg' alt='Путешествие на Русский Север')
            .archive__text
                .archive__name
                    span Путешествие на Русский Север
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-2.jpg' alt='Памятники древнерусской живописи')
            .archive__text
                .archive__name
                    span Памятники древнерусской живописи
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-3.jpg' alt='Декоративно-прикладное искусство')
            .archive__text
                .archive__name
                    span Декоративно-прикладное искусство
                .archive__date
                    span 13 сент 2018


        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-1.jpg' alt='Путешествие на Русский Север')
            .archive__text
                .archive__name
                    span Путешествие на Русский Север
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-2.jpg' alt='Памятники древнерусской живописи')
            .archive__text
                .archive__name
                    span Памятники древнерусской живописи
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-3.jpg' alt='Декоративно-прикладное искусство')
            .archive__text
                .archive__name
                    span Декоративно-прикладное искусство
                .archive__date
                    span 13 сент 2018


        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-1.jpg' alt='Путешествие на Русский Север')
            .archive__text
                .archive__name
                    span Путешествие на Русский Север
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-2.jpg' alt='Памятники древнерусской живописи')
            .archive__text
                .archive__name
                    span Памятники древнерусской живописи
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-3.jpg' alt='Декоративно-прикладное искусство')
            .archive__text
                .archive__name
                    span Декоративно-прикладное искусство
                .archive__date
                    span 13 сент 2018


        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-1.jpg' alt='Путешествие на Русский Север')
            .archive__text
                .archive__name
                    span Путешествие на Русский Север
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-2.jpg' alt='Памятники древнерусской живописи')
            .archive__text
                .archive__name
                    span Памятники древнерусской живописи
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-3.jpg' alt='Декоративно-прикладное искусство')
            .archive__text
                .archive__name
                    span Декоративно-прикладное искусство
                .archive__date
                    span 13 сент 2018


        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-1.jpg' alt='Путешествие на Русский Север')
            .archive__text
                .archive__name
                    span Путешествие на Русский Север
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-2.jpg' alt='Памятники древнерусской живописи')
            .archive__text
                .archive__name
                    span Памятники древнерусской живописи
                .archive__date
                    span 13 сент 2018
        a(href='#').stories-archive-page__item.archive
            .archive__photo
                img(src='static/img/content/archive-3.jpg' alt='Декоративно-прикладное искусство')
            .archive__text
                .archive__name
                    span Декоративно-прикладное искусство
                .archive__date
                    span 13 сент 2018


    .pagination.js-pagination-noline
        ul.pagination__list
            li.pagination__item
                a(href='#') 1
            li.pagination__item
                a(href='#') 2
            li.pagination__item
                a(href='#') 3
            li.pagination__item
                a(href='#') 4
            li.pagination__item
                a(href='#') 5
            li.pagination__item
                a(href='#') 6
            li.pagination__item
                a(href='#') 7









