extends ../layout/main

block variables
    - var title = 'Иосиф Бродский'
    - var pageClass = 'material-page'

block content
    .breadcrumbs
        .container.container_small
            .breadcrumbs__list
                span.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                span.breadcrumbs__item
                    a(href='#') Персоны
                span.breadcrumbs__item
                    span Иосиф Бродский
    .container.container_small
        h1.like-h1 Иосиф Бродский
    .material-page__text.container.container_small
        .content-sidebar
            .content-sidebar__main
                p Иосиф Бродский родился 24 мая 1940 г. в Ленинграде в еврейской семье. Отец Александр Иванович Бродский (1903—1984) был фоторепортёром, мать Мария Моисеевна Вольперт (1905—1983) — бухгалтером. Раннее детство Иосифа приходится на годы войны, блокады, послевоенной бедности и тесноты. Эстетические взгляды Бродского формировались в Ленинграде сороковых и пятидесятых. Неоклассическая архитектура, сильно пострадавшая во время бомбёжек, бесконечные перспективы петербургских окраин, вода, множественность отражений, — мотивы, связанные с этими детскими и юношескими впечатлениями, неизменно присутствуют в его творчестве. В неполные шестнадцать лет, закончив семь классов и начав восьмой, Бродский бросил школу и поступил учеником фрезеровщика на завод. Это решение было связано как с проблемами в школе (в первую очередь с антисемитизмом одного из учителей), так и с желанием Бродского финансово поддержать семью. Безуспешно попытавшись поступить в школу подводников, в течение нескольких лет Бродский работал помощником прозектора в морге областной больницы (надеясь поступить впоследствии в медицинский институт), истопником в котельной, матросом на маяке, рабочим в геологических экспедициях. В то же время Бродский очень много и хаотично читал — в первую очередь поэзию и философски-религиозную литературу, начал изучать английский и польский языки.
                .quote.quote_person
                    .quote__icon
                        img(src='static/img/general/quote-icon.png' alt='Цитата')
                    .quote__text.quote__text_italic
                        span Видимо, действительно пришли новые люди, у которых все шансы быть лучше — хотя бы уже потому, что в их распоряжении куда более обширный культурный материал, нежели тот, на котором возросла моя милость.
                p Иосиф Бродский родился 24 мая 1940 г. в Ленинграде в еврейской семье. Отец Александр Иванович Бродский (1903—1984) был фоторепортёром, мать Мария Моисеевна Вольперт (1905—1983) — бухгалтером. Раннее детство Иосифа приходится на годы войны, блокады, послевоенной бедности и тесноты. Эстетические взгляды Бродского формировались в Ленинграде сороковых и пятидесятых. Неоклассическая архитектура, сильно пострадавшая во время бомбёжек, бесконечные перспективы петербургских окраин, вода, множественность отражений, — мотивы, связанные с этими детскими и юношескими впечатлениями, неизменно присутствуют в его творчестве.
                p В неполные шестнадцать лет, закончив семь классов и начав восьмой, Бродский бросил школу и поступил учеником фрезеровщика на завод. Это решение было связано как с проблемами в школе (в первую очередь с антисемитизмом одного из учителей), так и с желанием Бродского финансово поддержать семью. Безуспешно попытавшись поступить в школу подводников, в течение нескольких лет Бродский работал помощником прозектора в морге областной больницы (надеясь поступить впоследствии в медицинский институт), истопником в котельной, матросом на маяке, рабочим в геологических экспедициях. В то же время Бродский очень много и хаотично читал — в первую очередь поэзию и философски-религиозную литературу, начал изучать английский и польский языки.
                .image-text
                    .image-text__img
                        img(src='static/img/content/person-img.jpg' alt='Бродский в Москве')
                    .image-text__text
                        span.small_text Бродский в Москве. #[br] Июнь 1973

                p 12 мая 1972 году Бродского вызвали в ОВИР ленинградской милиции и поставили перед выбором: эмиграция или «горячие денёчки», то есть тюрьмы и психбольницы (Большая книга Интервью, с. 29). К тому времени Бродскому уже дважды приходилось проводить по несколько недель в психиатрических больницах, что было для него намного страшнее тюрьмы и ссылки. Выбрав эмиграцию, поэт пытался максимально оттянуть день отъезда, но, возможно, в связи с визитом в СССР Никсона, власти хотели спровадить его как можно быстрее. 4 июня Бродский вылетел из Ленинграда в Вену. Там, в Австрии, он был представлен У. Одену, по приглашению которого впервые участвовал в Международном фестивале поэзии (Poetry International) в Лондоне в июле 1972 г.
                p Впоследствии Бродский жалел, что недостаточно хорошо владел английским, так что его вклад в беседу с Оденом сводился к однотипным вопросам. В тот же приезд поэт знакомится и с Исайей Берлиным.Через месяц после этого начал работать в должности приглашенного профессора на кафедре славистики Мичиганского университета в г. Анн-Арбор: преподавал историю русской литературы, русской поэзии XX века, теорию стиха. В 1981 переехал в Нью-Йорк. Не окончивший даже школы Бродский работал в общей сложности в шести американских и британских университетах, в том числе в Колумбийском и в NYU. Продолжая писать на английском языке, «чтобы быть ближе (…) к Одену», получил широкое признание в научных и литературных кругах США и Великобритании, удостоен Ордена Почетного легиона во Франции. Занимался литературными переводaми (в частности, перевёл на русский язык пьесу Тома Стоппарда «Розенкранц и Гильденстерн мертвы») и на английский — русские стихи коллеги по эмиграции, Набокова. #[br] В 1986 г. написанный по-английски сборник эссе Бродского «Less than one» («Меньше единицы») был признан лучшей литературно-критической книгой года в США.
                p В 1987 Бродский стал лауреатом Нобелевской премии по литературе, которая была присуждена ему за «всеобъемлющее творчество, насыщенное чистотой мысли и яркостью поэзии». В Стокгольме, на вопрос интервьера, считает он себя русским или американцем, Бродский ответил: «Я еврей, русский поэт и английский эссеист». Бродский являлся также лауреатом стипендии Макартура, Национальной книжной премии и был избран Библиотекой Конгресса поэтом-лауреатом США. #[br] Родители Бродского двенадцать раз подавали заявление с просьбой разрешить им повидать сына (вместе или по отдельности), но даже после того, как Бродский перенёс операцию на открытом сердце в 1978 году и официального письма из клиники с просьбой позволить родителям приехать в США для ухода за больным сыном, им было отказано. Мать Бродского умерла в 1983 году, немногим более года спустя умер отец. Оба раза Бродскому не позволили приехать на похороны. В 1986 году написано «Представление». Родителям посвящены «Мысль о тебе удаляется, как разжалованная прислуга…» (1985), «Памяти отца: Астралия» (1989), эссе «Полторы комнаты» (1985). #[br] С началом перестройки в СССР стали публиковаться стихи Бродского, литературоведческие и журналистские статьи о поэте. В 1990-х годах начали выходить книги. В 1995 при мэре Собчаке Бродскому было присвоено звание Почётного гражданина Санкт-Петербурга. Последовали приглашения на родину. Бродский откладывал приезд: его смущала публичность такого события, чествования, внимание прессы, которыми бы сопровождался его визит. Одним из последних аргументов было: «Лучшая часть меня уже там — мои стихи» (цитата может быть неточной). Мотив возвращения и невозвращения присутствует в его стихах 1990-х годов, в частности, в стихотворениях «Письмо в оазис» (1991), «Итака» (1993), «Мы жили в городе цвета окаменевшей водки…» (1994), причем в последних двух — так, как будто возвращение действительно случилось.В 1990 году Бродский женился на русско-итальянской переводчице Марии Содзани. С их общей дочерью он говорил по-английски. #[br]Бродский умер во сне от инфарктa 28 января 1996 г. в Нью-Йорке. Похоронен, согласно своему завещанию, в любимейшем после Петербурга городе — Венеции — на кладбище Сан-Микеле. В 2004 году близкий друг Бродского, лауреат Нобелевской премии поэт Дерек Уолкотт написал поэму «The Prodigal», в которой многократно упоминается Бродский. В ноябре 2005 г. во дворе филологического факультета Санкт-Петербургского университета по проекту К. Симуна установлен первый в России памятник И. А. Бродскому. #[br] Важнейшими темами в творчестве Бродского были речь (поэзия) и время: «Просодия — это изменение структуры времени внутри языка» (эссе «The Keening Muse» в сборнике «Less than One»).
            .content-sidebar__sidebar.sidebar
                .sidebar__block
                    .sidebar__content
                        .material-page__mini.mini
                            .mini__list
                                .mini__item(style='background-image: url("static/img/content/person-mini-1.jpg")')
                                .mini__item(style='background-image: url("static/img/content/person-mini-2.jpg")')
                                .mini__item(style='background-image: url("static/img/content/person-mini-3.jpg")')
                                .mini__item(style='background-image: url("static/img/content/person-mini-4.jpg")')
                                .mini__item(style='background-image: url("static/img/content/person-mini-5.jpg")')
                .sidebar__block
                    .sidebar__heading
                        span Материалы
                    .sidebar__content
                        .category__files.files
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Д. Уолкотт. Беспощадный судья. Интервью [«Литературное обозрение», №3, 1993]')
                                    .file__text
                                        .file__name
                                            span Д. Уолкотт. Беспощадный судья. Интервью [«Литературное обозрение», №3, 1993]
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='В. Полухина. «Язык владел им в совершенстве». Интервью [«РГ», 29.01.2009]')
                                    .file__text
                                        .file__name
                                            span В. Полухина. «Язык владел им в совершенстве». Интервью [«РГ», 29.01.2009]
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 11,5Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='И. Бродский. Интервью Бенгту Янгфельдту (15 марта 1987) [«Звезда», №1, 2010]')
                                    .file__text
                                        .file__name
                                            span И. Бродский. Интервью Бенгту Янгфельдту (15 марта 1987) [«Звезда», №1, 2010]
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf
                            .files__item
                                .file
                                    .file__icon
                                        img(src='static/img/general/pdf.png' alt='Л. Лосев. О «Натюрморте» Бродского [SvobodaNews.Ru, 23.05.2008]')
                                    .file__text
                                        .file__name
                                            span Л. Лосев. О «Натюрморте» Бродского [SvobodaNews.Ru, 23.05.2008]
                                        .file__bottom
                                            .file__download
                                                a(href='#') Скачать
                                            .file__meta
                                                span &mdash; 24,4Mb, pdf