extends ../layout/main

block variables
    - var title = 'Истории в картинках'
    - var pageClass = 'stories-page'

block content
    .breadcrumbs
        .container.container_small
            .breadcrumbs__list
                span.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                span.breadcrumbs__item
                    span Истории в картинках
    .container.container_small
        h1.like-h1 Истории в картинках
    .stories-page__main.container.container_small.main
        .main__wrap
            .main__image
                img(src='static/img/content/stories-main.jpg' alt='Природно-культурное наследие Архангельской области')
            .main__info
                .main__left
                    .main__title
                        span Природно-культурное наследие Архангельской области
                    .main__meta
                        .main__date
                            i.date
                            span 27 окт 2017
                        .main__photo
                            i.photo
                            span 14 фото
                .mail__right
                    .main__descr
                        span Архангельская область поистине уникальна - она одна из чрезвычайно насыщенных памятниками истории, архитектуры и градостроительства, мемориального искусства.
