extends ../layout/main

block variables
    - var title = 'UI kit'
    - var pageClass = 'index-page'

block content
    .container
        h1.like-h1 Поморские праздники
        br
        h2.like-h2 Русская народная культура Поморья в ХIX-#[br]начале XX века
        br
        p #[u Праздничной культуре] также отводилось большое место в жизни поморов. На протяжении столетий праздничная культура, пронизанная архаическими верованиями народа, передаваясь из поколения в поколение, постоянно трансформировалась, дополняясь новыми элементами, и с течением времени всё больше сливаясь с православной верой. Иногда происходило огосударствление праздника, превращение его в официально-парадное торжество (интересно, что в совокупности русский праздничный календарь составлял в среднем 100 дней, а в некоторых областях Русского Севера - от 120 до 150).
        span.subtext Отправление поморов на промыслы в конце 19 века
        br
        span.small_text Международный фестиваль «Сметанинские встречи» 2016,#[br]выступление участников
        br
        ul.pagination
            li.pagination__item
                a(href='#') 1
            li.pagination__item
                a(href='#') 2
            li.pagination__item
                a(href='#') 3
            li.pagination__item
                a(href='#') 4
            li.pagination__item
                a(href='#') 5
            li.pagination__item
                a(href='#') 6
            li.pagination__item
                a(href='#') 7
