extends ../layout/main

block variables
    - var title = 'UI kit'
    - var pageClass = 'index-page'

block content
    .container
        h1.like-h1 Поморские праздники
        br
        h2.like-h2 Русская народная культура Поморья в ХIX-#[br]начале XX века
        br
        p #[u Праздничной культуре] #[a(href='#') также] отводилось большое место в жизни поморов. На протяжении столетий праздничная культура, пронизанная архаическими верованиями народа, передаваясь из поколения в поколение, постоянно трансформировалась, дополняясь новыми элементами, и с течением времени всё больше сливаясь с православной верой. Иногда происходило огосударствление праздника, превращение его в официально-парадное торжество (интересно, что в совокупности русский праздничный календарь составлял в среднем 100 дней, а в некоторых областях Русского Севера - от 120 до 150).
        span.subtext Отправление поморов на промыслы в конце 19 века
        br
        span.small_text Международный фестиваль «Сметанинские встречи» 2016,#[br]выступление участников
        br
        .pagination
            ul.pagination__list
                li.pagination__item
                    a(href='#') 1
                li.pagination__item
                    a(href='#') 2
                li.pagination__item
                    a(href='#') 3
                li.pagination__item
                    a(href='#') 4
                li.pagination__item
                    a(href='#') 5
                li.pagination__item
                    a(href='#') 6
                li.pagination__item
                    a(href='#') 7
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                li.breadcrumbs__item
                    a(href='#') Узелки на память
                li.breadcrumbs__item
                    span Поморские праздники
        .file
            .file__icon
                img(src='static/img/general/pdf.png' alt='Культура Русского Севера: традиции и современность')
            .file__text
                .file__name
                    span Культура Русского Севера: традиции и современность
                .file__bottom
                    .file__download
                        a(href='#') Скачать
                    .file__meta
                        span &mdash; 11,5Mb, pdf
        .list-block
            .list-block__title
                a(href='#') Борис Пастернак
            .list-block__sub
                span 10 февраля, 1890 — 30 мая, 1960
            .list-block__text
                span Русский поэт и прозаик Борис Леонидович Пастернак родился в известной в Москве еврейской семье. Отец поэта, Леонид Пастернак, был академиком живописи, преподавателем Училища живописи, ваяния и зодчества, специализировался на портретной живописи, писал портреты многих известных людей, в т.ч. и Толстого.


