extends ../layout/main

block variables
    - var title = 'Вопросы о поморском быте'
    - var pageClass = 'viktorine-page'

block script
    script(src='static/js/jquery-ui.js')
    script(src='static/js/jquery.ui.touch-punch.min.js')

block content
    .breadcrumbs
        .container.container_small
            .breadcrumbs__list
                span.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                span.breadcrumbs__item
                    a(href='#') Викторины
                span.breadcrumbs__item
                    span Вопросы о поморском быте
    .container.container_small
        h1.like-h1 Вопросы о поморском быте
    .container.container_small.viktorine-page__form
        form
            .viktorine-page__list
                .viktorine-page__item.question
                    .question__num
                        span 1
                    .question__content
                        .question__text
                            span В поморском народном календаре для начала обучения грамоте #[br] детей была выделена особая дата. Какой это день?
                        .question__variants
                            .radio
                                .radio__item
                                    input(type='radio' id='viktorine-1-1' name='viktorine-1' value='7 апреля Благовещенье')
                                    label(for='viktorine-1-1') 7 апреля Благовещенье
                                .radio__item
                                    input(type='radio' id='viktorine-1-2' name='viktorine-1' value='2 августа Ильин день')
                                    label(for='viktorine-1-2') 2 августа Ильин день
                                .radio__item
                                    input(type='radio' id='viktorine-1-3' name='viktorine-1' value='14 декабря Наумов день')
                                    label(for='viktorine-1-3') 14 декабря Наумов день
                .viktorine-page__item.question
                    .question__num
                        span 2
                    .question__content
                        .question__text
                            span Как называли в Поморье женщин, подолгу заменявших отсутствующего хозяина-мужа
                        .question__variants
                            .radio
                                .radio__item
                                    input(type='radio' id='viktorine-2-1' name='viktorine-2' value='«жонка»')
                                    label(for='viktorine-2-1') «жонка»
                                .radio__item
                                    input(type='radio' id='viktorine-2-2' name='viktorine-2' value='«большуха»')
                                    label(for='viktorine-2-2') «большуха»
                                .radio__item
                                    input(type='radio' id='viktorine-2-3' name='viktorine-2' value='«сама»')
                                    label(for='viktorine-2-3') «сама»
                .viktorine-page__item.question
                    .question__num
                        span 3
                    .question__content
                        .question__text
                            span Что именовалось "большим углом" в поморском доме?
                        .question__variants
                            .radio
                                .radio__item
                                    input(type='radio' id='viktorine-3-1' name='viktorine-3' value='место у печи')
                                    label(for='viktorine-3-1') место у печи
                                .radio__item
                                    input(type='radio' id='viktorine-3-2' name='viktorine-3' value='полати')
                                    label(for='viktorine-3-2') полати
                                .radio__item
                                    input(type='radio' id='viktorine-3-3' name='viktorine-3' value='место, где помещались образа')
                                    label(for='viktorine-3-3') место, где помещались образа
                .viktorine-page__item.question
                    .question__num
                        span 4
                    .question__content
                        .question__text
                            span Расположите деревянные кресты в соответствии с их названием
                        .question__variants
                            .drag-img
                                .drag-img__images.images
                                    .images__list
                                        .images__item
                                            img(src='static/img/content/viktorine-1.jpg' alt='Вариант 1')
                                        .images__item
                                            img(src='static/img/content/viktorine-2.jpg' alt='Вариант 2')
                                        .images__item
                                            img(src='static/img/content/viktorine-3.jpg' alt='Вариант 3')
                                .drag-img__boxes.boxes
                                    .boxes__list
                                        .boxes__item
                                            .boxes__container
                                            .boxes__text
                                                span обетный крест
                                        .boxes__item
                                            .boxes__container
                                            .boxes__text
                                                span навигационный крест
                                        .boxes__item
                                            .boxes__container
                                            .boxes__text
                                                span столбец глобец
                .viktorine-page__item.question
                    .question__num
                        span 5
                    .question__content
                        .question__text
                            span Термины из поморской педагогики, расставьте их в правильном порядке
                        .question__variants
                            .drag-text
                                .drag-text__list
                                        .drag-text__item
                                            span «законить»
                                        .drag-text__item
                                            span «натакать»
                                        .drag-text__item
                                            span «натруска»
                                .drag-text__boxes.boxes
                                    .boxes__list
                                        .boxes__item
                                            .boxes__container
                                            .boxes__text
                                                span наказать
                                        .boxes__item
                                            .boxes__container
                                            .boxes__text
                                                span советовать
                                        .boxes__item
                                            .boxes__container
                                            .boxes__text
                                                span учить добру
                .viktorine-page__item.question
                    .question__num
                        span 6
                    .question__content
                        .question__text
                            span Берега Белого моря принято разделять на Зимний берег Белого моря и Летний берег. К какому берегу относятся населённые пункты:
                        .question__variants
                            .drag-text-groups
                                .drag-text-groups__list
                                        .drag-text-groups__item
                                            span Патракеевка
                                        .drag-text-groups__item
                                            span Пертоминск
                                        .drag-text-groups__item
                                            span Луда
                                        .drag-text-groups__item
                                            span Койда
                                        .drag-text-groups__item
                                            span Мезень
                                        .drag-text-groups__item
                                            span Яреньга
                                        .drag-text-groups__item
                                            span Лопшеньга
                                        .drag-text-groups__item
                                            span Нижняя Золотица
                                .drag-text-groups__boxes.boxes
                                    .boxes__list
                                        .boxes__item
                                            .boxes__container
                                            .boxes__text
                                                span Зимний Берег
                                        .boxes__item
                                            .boxes__container
                                            .boxes__text
                                                span Летний Берег


            .viktorine-page__btn
                a(href='#').button.button_serif-big Проверить ответы

