extends ../layout/main

block variables
    - var title = 'Викторины'
    - var pageClass = 'viktorine-list-page'


block content
    .breadcrumbs
        .container.container_small
            .breadcrumbs__list
                span.breadcrumbs__item
                    a(href='/')
                        img(src='static/img/general/home.png' alt='Главная')
                span.breadcrumbs__item
                    span Викторины
    .container.container_small
        h1.like-h1 Викторины
    .viktorine-list-page__list.container.container_small
        .viktorine-list-page__item.viktorine
            .viktorine__image
                img(src='static/img/content/viktorine-other-1.jpg' alt='Северные народные сказания и сказки')
            .viktorine__title
                a(href='#') Северные народные #[br] сказания и сказки
            .viktorine__btn
                a(href='#').button Перейти к вопросам
        .viktorine-list-page__item.viktorine
            .viktorine__image
                img(src='static/img/content/viktorine-other-1.jpg' alt='Северные народные сказания и сказки')
            .viktorine__title
                a(href='#') Северные народные #[br] сказания и сказки
            .viktorine__btn
                a(href='#').button Перейти к вопросам
        .viktorine-list-page__item.viktorine
            .viktorine__image
                img(src='static/img/content/viktorine-other-1.jpg' alt='Северные народные сказания и сказки')
            .viktorine__title
                a(href='#') Северные народные #[br] сказания и сказки
            .viktorine__btn
                a(href='#').button Перейти к вопросам
        .viktorine-list-page__item.viktorina
            .viktorina__wrap(style='background-image: url("static/img/content/viktorina-banner.jpg")')
                .viktorina__img
                    img(src='static/img/content/viktorina.jpg' alt='Викторина')
                .viktorina__text
                    .viktorina__title
                        span Этап 1. Поморский быт
                    .viktorina__descr
                        span Как был устроен поморский быт, какие семейные традиции сохранились до наших дней. #[br] Ответь на 5 вопрос о поморском быте, традициях....
                    .viktorina__btn
                        a(href='#').button.button_icon.button_serif Перейти к вопросам викторины #[i.next-bold]
        .viktorine-list-page__item.viktorine
            .viktorine__image
                img(src='static/img/content/viktorine-other-1.jpg' alt='Северные народные сказания и сказки')
            .viktorine__title
                a(href='#') Северные народные #[br] сказания и сказки
            .viktorine__btn
                a(href='#').button Перейти к вопросам
        .viktorine-list-page__item.viktorine
            .viktorine__image
                img(src='static/img/content/viktorine-other-1.jpg' alt='Северные народные сказания и сказки')
            .viktorine__title
                a(href='#') Северные народные #[br] сказания и сказки
            .viktorine__btn
                a(href='#').button Перейти к вопросам
        .viktorine-list-page__item.viktorine
            .viktorine__image
                img(src='static/img/content/viktorine-other-1.jpg' alt='Северные народные сказания и сказки')
            .viktorine__title
                a(href='#') Северные народные #[br] сказания и сказки
            .viktorine__btn
                a(href='#').button Перейти к вопросам
        .viktorine-list-page__item.viktorine
            .viktorine__image
                img(src='static/img/content/viktorine-other-1.jpg' alt='Северные народные сказания и сказки')
            .viktorine__title
                a(href='#') Северные народные #[br] сказания и сказки
            .viktorine__btn
                a(href='#').button Перейти к вопросам

