// ЦВЕТА
$white = #fff
$black = #000

$gray = #4b4b4b
$gray_dark = #3f3f3f
$gray_light = #979797

$brown = #d5ba91

// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
mainFont = 'PTSans'

// ТОЧКИ ПЕРЕХОДА

$desktop_small = 'screen and (max-width: 1280px)'
$tablet = 'screen and (max-width: 1024px)'
$tablet_small = 'screen and (max-width: 1024px)'