// ЦВЕТА
$white = #fff
$black = #000

$gray = #4b4b4b
$gray_dark = #3f3f3f
$gray_light = #979797
$gray_light2 = #e9e7e4

$brown = #6a5e4a
$brown_light = #d5ba91

$blue = #4bc8d2


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
mainFont = 'PTSans'

// ТОЧКИ ПЕРЕХОДА

$desktop_small = 'screen and (max-width: 1200px)'
$tablet = 'screen and (max-width: 1024px)'
$tablet_small = 'screen and (max-width: 768px)'
$phone = 'screen and (max-width: 480px)'