// ЦВЕТА
$white = #fff
$black = #000

$gray = #4b4b4b
$gray_dark = #3f3f3f
$gray_dark2 = #2c2b2b
$gray_light = #979797
$gray_light2 = #e9e7e4
$gray_light3 = #878787
$gray_light4 = #f8f8f8
$gray_light5 = #d7d4d4


$brown = #6a5e4a
$brown2 = #9a7c4f
$brown_light = #d7be97
$brown_light2 = #807666


$blue = #4bc8d2


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
mainFont = 'PTSans'

// ТОЧКИ ПЕРЕХОДА

$desktop_small = 'screen and (max-width: 1200px)'
$tablet = 'screen and (max-width: 1024px)'
$tablet_small = 'screen and (max-width: 768px)'
$phone = 'screen and (max-width: 480px)'