@font-face {
  font-family: 'Playfair';
  src: url('../fonts/playfair/PlayfairDisplay-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('../fonts/playfair/PlayfairDisplay-BlackItalic.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair';
  src: url('../fonts/playfair/PlayfairDisplay-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('../fonts/playfair/PlayfairDisplay-BoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair';
  src: url('../fonts/playfair/PlayfairDisplay-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair';
  src: url('../fonts/playfair/PlayfairDisplay-Regular.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans/PTS55F.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans/PTS56F.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans/PTS75F.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans/PTS76F.ttf');
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/ptserif/PTF55F.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/ptserif/PTF56F.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/ptserif/PTF75F.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/ptserif/PTF76F.ttf');
  font-weight: bold;
  font-style: italic;
}
