.category-page

  .blocks

    &__list
      display: flex
      flex-wrap: wrap
      padding-top: 48px

    &__item
      width: 272px
      height: 217px
      position: relative
      margin-bottom: 72px
      margin-right: 16px
      border: 1px solid $brown_light
      padding: 67px 15px 20px

      @media $tablet
        width: calc(33.3% - 32px/3)
        display: flex
        flex-direction: column
        justify-content: space-between

      @media $tablet_small
        width: calc(50% - 8px)

      @media $phone
        width: 100%
        margin-right: 0
        height: auto



      &:nth-child(3n)
        margin-right: 0

        @media $tablet_small
          margin-right: 16px

        @media $phone
          margin-right: 0

      &:nth-child(2n)

        @media $tablet_small
          margin-right: 0

    .subcat

      &_opened
        position: relative
        box-shadow: 0 6px 10px 0 rgba(13, 105, 112, 0.28);




        .subcat

          &__dropdown
            display: block


      &__title
        margin-bottom: 31px
        min-height: 48px

        color: $gray
        font-family: 'Playfair'
        font-weight: bold
        font-size: 18px
        line-height: 24px
        letter-spacing: 1.8px
        text-transform: uppercase
        text-align: center

        @media $phone
          min-height: auto

      &__dropdown
        display: none
        position: absolute
        left: -1px
        right: -1px
        top: 100%
        margin-top: -1px
        z-index: 1
        background-color: $white
        border: 1px solid $brown_light
        border-top: none
        padding: 18px 10px 37px
        box-shadow: 0 6px 10px 0 rgba(13, 105, 112, 0.28);

      &__list
        display: block
        margin-top: -49px

        @media $tablet
          margin-top: -20px


      &__item
        font-size: 13px
        line-height: 30px
        letter-spacing: 0
        color: $gray

      &__img-wrap
        position: absolute
        top: -50px
        left: 50%
        transform: translate(-50%, 0)

      &__img
        border-radius: 50%
        width: 98px
        height: 98px

      &__text
        padding: 0 10px

        font-size: 14px
        line-height: 18px
        color: $gray
        letter-spacing: 0
        text-align: center
        
      &__list-link

        a
          position: relative

          &::after
            content: ''
            display: block
            position: absolute
            top: 9px
            right: -16px
            width: 10px
            height: 6px
            background-image: url('../img/general/dropdown.png')
            background-repeat: no-repeat
            background-size: 100%

      &__link-hide
        display: none


  &__text
    margin-bottom: 40px

  .sources
    font-size: 13px
    line-height: 20px
    font-family: 'PTSerif'
    letter-spacing: 0
    color: $gray

    &__item
      margin-bottom: 20px

    &__bold
      display: block
      font-weight: bold

  .files

    &__item
      margin-bottom: 40px

  .banner-article
    margin-bottom: 128px
    padding: 38px 47px 39px 50px
    background-size: cover
    background-repeat: no-repeat
    background-position: top center

    @media $phone
      padding: 20px 30px
      margin-bottom: 60px

    &__content
      display: flex

      @media $tablet_small
        flex-direction: column

      @media $phone
        align-items: center


    &__title
      margin-bottom: 22px

      font-family: 'Playfair'
      font-size: 20px
      line-height: 24px
      letter-spacing: 2px
      text-transform: uppercase
      color $brown_light
      font-weight: bold

      @media $phone
        text-align: center

    &__text
      padding-right: 40px

      font-size: 14px
      line-height: 18px
      letter-spacing: 0
      color: $white

      @media $tablet_small
        padding-right: 0
        margin-bottom: 40px

    &__btn
      flex-shrink: 0

      @media $phone
        text-align: center

      .button
        width: 220px
        padding-left: 22px
        padding-right: 22px
