.category-page

  .blocks

    &__list
      display: flex
      flex-wrap: wrap

    &__item
      width: 272px
      margin-bottom: 72px
      margin-right: 16px

      &:nth-child(3n)
        margin-right: 0

    .subcat

      &__title
        color: $gray
        font-family: 'Playfair'
        font-weight: bold
        font-size: 18px
        line-height: 24px
        letter-spacing: 1.8px
        text-transform: uppercase
        text-align: center

      &__list
        display: none
