.index-page

  .slider-top
    margin-bottom: 100px

    &__list
      width: 100%

    &__img
      position: relative;
      padding-bottom: 56%;
      background-size: cover;
      background-position: center center

  .sections
    margin-bottom: 23px

    &__list
      display: flex

      @media $phone
        flex-wrap: wrap

    &__item
      position: relative
      width: calc((100% - 32px) / 3)
      margin-right: 16px
      border: 1px solid $brown_light
      padding-top: 54px
      padding-bottom: 25px

      text-decoration: none
      text-align: center

      @media $phone
        width: 100%
        margin-right: 0
        margin-bottom: 60px

      &:last-child
        margin-right: 0

        @media $phone
          margin-bottom: 0

    &__image
      position: absolute
      width: 112px
      top: 0
      left: 50%
      transform: translate(-50%, -60%)
      background-color: $white

    &__title
      margin-bottom: 15px

      color: $gray
      font-size: 22px
      line-height: 20px
      letter-spacing: 2.2px
      text-transform: uppercase

    &__descr
      max-width: 180px
      margin: 0 auto

      color: $gray_light3
      font-size: 14px
      line-height: 20px

  .slider-main
    position: relative
    margin-bottom: 65px

    @media $tablet
      padding: 0 60px

    @media $phone
      padding: 0 30px

    a
      text-decoration: none

    &__prev, &__next
      cursor: pointer
      position: absolute
      top: 50%
      right: calc(100% + 15px)
      transform: translateY(-50%)
      width: 44px
      height: 85px
      background-image: url('../img/general/arrow-index-main-slider-left.png')
      background-repeat: no-repeat
      background-position: center center
      background-size: contain

      @media $tablet
        right: calc(100% - 45px)

      @media $tablet_small
        width: 22px
        right: calc(100% - 35px)

      @media $phone
        right: calc(100% - 25px)

    &__next
      background-image: url('../img/general/arrow-index-main-slider-right.png')
      right: auto
      left: calc(100% + 15px)

      @media $tablet
        left: calc(100% - 45px)

      @media $tablet_small
        left: calc(100% - 35px)

      @media $phone
        left: calc(100% - 25px)



    &__item
      display: flex

      @media $tablet_small
        flex-direction: column

    &__left
      flex-grow: 1

      @media $tablet_small
        width: 100%
        height: 300px

    &__image
      height: 100%
      background-size: cover
      background-position: center center
      background-repeat: no-repeat

    &__right
      display: flex
      flex-direction: column
      justify-content: center
      width: 288px
      height: 375px
      border: 1px solid $brown_light
      border-left-width: 0
      background-color: $gray_light4
      padding: 13px 32px 5px 39px

      @media $tablet_small
        width: 100%
        height: auto
        border-left-width: 1px
        padding: 15px

    &__title
      margin-bottom: 19px

      color: $gray
      font-size: 24px
      line-height: 20px
      letter-spacing: 2.4px
      font-family: 'Playfair'
      font-weight: bold
      text-transform: uppercase

    &__descr
      margin-bottom: 18px
      color: $black
      font-size: 14px
      line-height: 20px
      letter-spacing: 0

    &__link
      border-top: 1px solid $gray_light5
      padding-top: 15px

      color: $brown2
      font-size: 14px
      line-height: 20px
      font-style: italic
      letter-spacing: 0
      text-decoration: underline

      &::before
        content: ''
        width: 12px
        height: 20px
        display: inline-block
        vertical-align: top
        margin-right: 16px
        background-image: url('../img/general/bookmark-blue.png')

      a, span
        display: inline-block
        vertical-align: top
        max-width: 185px

  .specproject
    margin: 0 auto 15px
    display: flex
    align-items: center

    @media $phone
      flex-direction: column


    &__label
      margin-left: 110px
      flex-grow: 0
      flex-shrink: 0
      width: 267px
      height: 60px
      padding-left: 40px
      background-color: $brown_light

      font-family: 'Playfair'
      font-weight: bold
      color: $white
      font-size: 24px
      line-height: 60px
      letter-spacing: 0

      @media $tablet
        margin-left: 0

      @media $tablet_small
        display: none

    &__icon
      flex-grow: 0
      flex-shrink: 0
      width: 152px
      height: 152px
      border-radius: 50%
      border: 2px solid $brown_light
      background-color: white
      background-image: url('../img/general/specproject-icon.png')
      background-position: center center
      background-repeat: no-repeat
      background-size: 100px
      position: relative
      left: -31px

      @media $tablet_small
        left: 0
        margin-right: 10px

      @media $phone
        margin-right: 0
        width: 80px
        height: 80px
        background-size: 60px

    &__title
      font-family: 'Playfair'
      font-weight: bold
      font-size: 24px
      line-height: 30px
      color: $gray
      letter-spacing: 0

      @media $phone
        text-align: center

  .timeline
    display: flex
    max-width: 710px
    padding-left: 77px
    padding-right: 0
    margin: 0 auto 80px

    @media $tablet
      padding-left: 16px
      padding-right: 16px

    @media $tablet_small
      max-width: 290px

    @media $phone
      max-width: 260px

    &__item
      width: 100%
      max-width: 283px
      margin-bottom: 32px

      &:last-child
        margin-bottom: 0

      &:nth-child(2n)
        max-width: 350px

        @media $tablet_small
          max-width: 283px

        @media $phone
          max-width: 260px


        .event
          position: relative
          top: 180px
          padding-left: 100px

          @media $tablet_small
            top: 0
            padding-left: 0

          &::after
            right: auto
            left: -6px

            @media $tablet_small
              left: auto
              right: -28px

          &::before
            right: auto
            left: 9px
            width: 75px

            @media $tablet_small
              right: -10px
              left: auto
              width: 144px

            @media $phone
              width: 110px

    &__list
      display: flex
      flex-wrap: wrap
      position: relative
      padding-bottom: 15px

      @media $tablet_small
        flex-direction: column
        flex-wrap: nowrap
        width: 100%

      &::after
        content: ''
        display: block
        position: absolute
        top: 16px
        bottom: 0
        left: 280px
        width: 3px
        background-image: url('../img/general/timeline-line.png')
        background-repeat: repeat-y

        @media $phone
          left: 250px

    .event
      position: relative

      &::after
        content: ''
        width: 9px
        height: 9px
        display: block
        background-color: $blue2;
        position: absolute
        top: 13px
        right: -3px

        @media $tablet_small
          right: -28px

      &::before
        content: ''
        width: 144px
        height: 1px
        background-color: $gray_light2
        display: block
        position: absolute
        top: 17px
        right: 15px

        @media $tablet_small
          right: -10px

        @media $phone
          width: 110px

      &__year
        margin-bottom: 16px

        color: $blue2
        font-family: 'PTSerif'
        font-weight: bold
        font-size: 48px
        line-height: 30px
        letter-spacing: 0

      &__name
        max-width: 235px
        margin-bottom: 8px

        color: $black
        font-size: 18px
        line-height: 22px
        font-family: 'PTSerif'
        font-weight: bold
        letter-spacing: 0

      &__descr
        max-width: 235px
        color: $gray_light3
        font-size: 14px
        line-height: 20px
        letter-spacing: 0


