.material-page

  &__text
    margin-bottom: 82px

  .quote
    margin-top: 32px
    margin-bottom: 48px
    position: relative
    display: flex
    padding: 40px 15px 38px 37px
    margin-right: -15px
    background-image: url("../img/general/quote-bg.png")
    background-size: cover
    background-repeat: no-repeat

    @media $tablet
      margin-right: 0

    @media $phone
      padding: 20px
      margin-top: 20px
      margin-bottom: 30px

    &_person
      padding: 28px 40px 24px 37px
      margin-top: 41px
      margin-bottom: 41px

      .quote

        &__icon
          padding-top: 19px

        &__text
          font-family: 'PTSerif'
          font-style: italic
          font-weight: normal

    &__icon
      padding-top: 5px
      margin-right: 25px
      flex-shrink: 0

      @media $tablet
        width: 30px
        margin-right: 10px
      
      &::after
        content: ''
        background-image: url('../img/general/quote-ship.png')
        width: 136px
        height: 128px
        background-repeat: no-repeat
        background-size: 100%
        position: absolute
        bottom: 20px
        right: 27px

    &__text
      font-family: 'Playfair'
      font-size: 18px
      line-height: 28px
      letter-spacing: 0
      color: $white

      @media $phone
        font-size: 14px
        line-height: 24px



  .image-text
    display: flex
    margin-top: 50px
    margin-bottom: 64px

    @media $phone
      flex-direction: column

    &__img
      width: 320px
      flex-shrink: 0
      margin-right: 16px
      text-align: center

      @media $tablet
        width: 50%

      @media $tablet_small
        max-width: 320px

      @media $phone
        margin-right: 0
        margin-bottom: 20px
        max-width: 100%
        width: 100%

    &__text
      border-top: 1px solid $brown_light
      padding-top: 26px

      span
        display: block
        margin-bottom: 18px

  .button
    width: 307px
    max-width: 100%

  .story-in-pic

    .like-h1
      margin-bottom: 44px

      font-weight: normal

    &__item
      padding-bottom: 59px

  .event-place

    &__item
      display: flex
      padding-top: 5px
      margin-bottom: 15px

    &__icon
      flex-shrink: 0
      margin-right: 15px

    &__text
      font-size: 16px
      line-height: 24px
      letter-spacing: 0
      color: $gray
      font-family: 'Playfair'
      font-weight: bold

  .event-date
    display: flex

    &__icon
      flex-shrink: 0
      margin-right: 15px

    &__text
      font-size: 24px
      line-height: 24px
      letter-spacing: 0
      color: $gray
      font-family: 'Playfair'
      font-weight: bold

  .event-image
    margin-bottom: 37px

    &__img
      margin-bottom: 15px

    &__hint

      br
        display: none

  .event-back
    margin-top: 57px
    margin-bottom: 109px


